<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    @*<link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />*@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Site2.css" />
    @*<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="~/lib/data-tables/dataTables.bootstrap4.min.css" />*@ 
    <style>
        /*.msg_temp {
            width: 100%;
            height: auto;            
            background-color: #FFD966;            
            position: fixed;
            top: 80px;
            padding-left: 10px;
            padding-right: 10px;
            z-index: 500;
        }*/
    </style>
</head>
<body id="body">
    <header>        
        <div class="menu">
            <nav class="navbar navbar-expand-lg fixed-top navbar-light" style="background-color:white;">
                <div class="container">
                    <a class="navbar-brand" asp-controller="Site" asp-action="Index">
                        @*<strong class="logo_m"><span>Contador</span><span style="color: #ff4400;">com</span><span>você</span></strong>*@
                        <div class="logo_escrito">
                            @*<div class="cvc">
                                <strong class="logo"><span>Contador</span><span style="color: #ff4400;">com</span><span>você</span></strong>
                            </div>
                            <div class="tema">
                                <span>Gestão Financeira</span>
                            </div>*@
                            <img src="~/Imagens/contador-com-voce-logo-vs3.png" class="img-fluid" alt="Imagem responsiva">
                        </div>
                        <div class="barra">
                            <div class="barra_azul"></div>
                            <div class="barra_laranja"></div>
                            <div class="barra_azul"></div>
                        </div>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="font-size: 110%;">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" asp-controller="Site" asp-action="Index">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Site" asp-action="Planos">Planos</a>
                            </li>
                            @*<li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Segmentos
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-controller="Site" asp-action="PrestadorServico">Prestadores de Serviços</a>
                                    <a class="dropdown-item" asp-controller="Site" asp-action="AreaSaude">Empresas da Área de Saúde</a>
                                    <a class="dropdown-item" asp-controller="Site" asp-action="MarketingPublicidade">Marketing/Publicidade</a>
                                    <a class="dropdown-item" asp-controller="Site" asp-action="DesenvSistemas">Desenvolvimento Sistemas</a>
                                    <a class="dropdown-item" asp-controller="Site" asp-action="Academias">Academias/Pilates/Crossfit</a>
                                    <a class="dropdown-item" asp-controller="Site" asp-action="Coaching">Coaching</a>
                                    <a class="dropdown-item" asp-controller="Site" asp-action="EngenheirosArquitetos">Engenheiros/Arquitetos</a>
                                    <a class="dropdown-item" asp-controller="Site" asp-action="SeguradorasCorretoras">Corretora de Seguros</a>
                                    <a class="dropdown-item" asp-controller="Site" asp-action="Escolas">Escolas/Cursos</a>
                                    <a class="dropdown-item" asp-controller="Site" asp-action="Representantes">Representantes Comerciais</a>                                    
                                </div>
                            </li>*@
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Site" asp-action="Contato">Contato</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Área Restrita
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" asp-controller="Conta" asp-action="Login" target="_blank">Financeiro Contadorcomvocê</a>
                                    <a class="dropdown-item" href="https://login.contaazul.com" target="_blank">Conta Azul</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        @*<div class="msg_temp">
            <span>A partir de 24/06/2021 o site está direcionado a página de apresentação da empresa. Para acessar a tela de login do sistema acesse</span></br>
            <span><i><b><a asp-controller="Conta" asp-action="Login" target="_blank">Área Restrita > Financeiro Contadorcomvocê</a></b></i> no menu acima.</span>
        </div>*@
    </header>
    <main role="main">
        @RenderBody()
    </main>
    <footer style="margin-top:10px;">
        <div class="faixa_3">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="r_logo">
                            <div class="r_logo_fx_1">
                                <strong><span>Contador</span><span style="color: #ff4400;">com</span><span>você</span></strong>
                            </div>
                            <div class="r_logo_fx_2">
                                <img src="~/Imagens/logo_ozaki.png" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="r_logo_txt">
                            <p>Contadorcomvocê é uma empresa Ozaki Contabilidade.</p>
                            <p>Somos uma empresa formada por pessoas engajadas que usam a tecnologia para proporcionar, a você cliente, facilidade, segurança e confiança!</p>
                        </div>
                    </div>
                </div>
                <div class="row r_line">
                    <div class="col-md-4">
                        <div class="r_box_contato">
                            <div class="r_box_titulo">Endereço</div>
                            <div class="r_box_icon">
                                <svg viewBox="0 0 96 96" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="Icons_MapWithPin_M" overflow="hidden"><g id="Icons"><path d="M80.386 30.694 79.561 32.517 86 35.736 86 77.264 69 68.764 69 52 67 52 67 68.764 49 77.764 49 36.236 56.38 32.546 55.554 30.723 48 34.5 28 24.5 8 34.5 8 80.5 28 70.5 48 80.5 68 70.5 88 80.5 88 34.5ZM27 68.764 10 77.264 10 35.736 27 27.236ZM47 77.764 29 68.764 29 27.236 47 36.236Z" /><path d="M67.963 17.513C70.7201 17.5098 73.2969 18.8828 74.832 21.173 76.3664 23.4412 76.6975 26.3154 75.719 28.873L71.082 39.123 67.963 45.67 64.863 39.164 60.208 28.877C59.2289 26.3122 59.5649 23.4307 61.108 21.16 62.6433 18.8763 65.2162 17.5085 67.968 17.513M67.968 15.513C64.5507 15.5094 61.3563 17.2085 59.449 20.044 57.5331 22.8718 57.1279 26.4602 58.365 29.644L63.044 39.986 67.082 48.456C67.3381 48.9453 67.9424 49.1344 68.4317 48.8783 68.6122 48.7838 68.7595 48.6365 68.854 48.456L72.893 39.986 77.571 29.644C78.8084 26.4603 78.4036 22.872 76.488 20.044 74.5802 17.2086 71.3855 15.5096 67.968 15.513Z" /><path d="M67.963 23.423C69.3062 23.423 70.395 24.5118 70.395 25.855 70.395 27.1982 69.3062 28.287 67.963 28.287 66.6198 28.287 65.531 27.1982 65.531 25.855 65.5166 24.5263 66.582 23.4374 67.9107 23.423 67.9281 23.4228 67.9456 23.4228 67.963 23.423M67.963 21.423C65.5153 21.4258 63.5332 23.4123 63.536 25.86 63.5388 28.3077 65.5253 30.2898 67.973 30.287 70.4188 30.2842 72.4 28.3008 72.4 25.855 72.4105 23.4178 70.4433 21.4335 68.0061 21.423 67.9934 21.4229 67.9807 21.4229 67.968 21.423Z" /></g></svg>
                            </div>
                            <div class="r_box_txt">
                                Rua Therezinha Navarro da Silva, 45 Jardim do Bosque – Hortolândia/SP.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="r_box_contato">
                            <div class="r_box_titulo">E-mail</div>
                            <div class="r_box_icon">
                                <svg viewBox="0 0 96 96" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="Icons_Envelope_M" overflow="hidden"><defs></defs><g id="Icons"><path d="M10 21 10 75 86 75 86 21ZM50.122 55.464C48.948 56.631 47.052 56.631 45.878 55.464L13.431 23.017C13.4271 23.0131 13.4272 23.0067 13.4311 23.0029 13.433 23.0011 13.4354 23 13.438 23L82.562 23C82.5675 23.0001 82.5719 23.0046 82.5719 23.0101 82.5718 23.0127 82.5708 23.0152 82.569 23.017ZM35.586 48 12.017 71.569C12.0131 71.5729 12.0067 71.5728 12.0029 71.5689 12.0011 71.567 12 71.5646 12 71.562L12 24.438C12.0001 24.4325 12.0046 24.4281 12.0101 24.4281 12.0127 24.4282 12.0152 24.4292 12.017 24.431ZM37 49.414 44.464 56.878C46.4164 58.8309 49.5822 58.8313 51.5351 56.8789 51.5354 56.8786 51.5357 56.8783 51.536 56.878L59 49.414 82.569 72.983C82.5729 72.9869 82.5728 72.9933 82.5689 72.9971 82.567 72.9989 82.5646 73 82.562 73L13.438 73C13.4325 72.9999 13.4281 72.9954 13.4281 72.9899 13.4282 72.9873 13.4292 72.9848 13.431 72.983ZM60.414 48 83.983 24.431C83.9869 24.4271 83.9933 24.4272 83.9971 24.4311 83.9989 24.433 84 24.4354 84 24.438L84 71.562C83.9999 71.5675 83.9954 71.5719 83.9899 71.5719 83.9873 71.5718 83.9848 71.5708 83.983 71.569Z" /></g></svg>
                            </div>
                            <div class="r_box_txt">
                                ozaki@ozaki.com.br
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="r_box_contato">
                            <div class="r_box_titulo">Telefone</div>
                            <div class="r_box_icon">
                                <svg viewBox="0 0 96 96" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="Icons_Receiver_M" overflow="hidden"><path d="M86.7 70.62 72.9 56.82C71.217 55.1079 68.4647 55.0844 66.7526 56.7674 66.7349 56.7848 66.7174 56.8023 66.7 56.82L59.3 64.52C58.46 65.32 57.14 65.32 56.3 64.52L31.5 39.811C30.6995 38.9712 30.6995 37.6508 31.5 36.811L39.2 29.211C40.9121 27.5264 40.9344 24.7729 39.2498 23.0608 39.2333 23.0441 39.2167 23.0275 39.2 23.011L25.4 9.3C24.6082 8.49144 23.5314 8.02484 22.4 8 21.239 8.02355 20.1305 8.48839 19.3 9.3L11.4 17.2C9.40903 19.0406 8.22341 21.5914 8.1 24.3 7.95997 28.7457 8.74311 33.1722 10.4 37.3 12.0452 40.9912 14.0551 44.5087 16.4 47.8 24.5487 60.0879 34.8872 70.7729 46.9 79.322 48.9003 80.8063 51.0058 82.1431 53.2 83.322 58.1686 85.9348 63.6076 87.5326 69.2 88.022 69.5207 88.0467 69.841 88.0593 70.161 88.06 73.667 88.0481 77.0117 86.5857 79.401 84.02L86.601 76.82C87.4284 76 87.896 74.8849 87.901 73.72 87.9325 72.5674 87.4998 71.4505 86.7 70.62ZM20.711 10.72C21.167 10.2816 21.7679 10.0254 22.4 10 23.0027 10.0285 23.5718 10.2861 23.991 10.72L37.791 24.42C38.7224 25.3231 38.7453 26.8102 37.8422 27.7416 37.8283 27.7559 37.8142 27.77 37.8 27.784L34.98 30.566 17.923 13.51ZM77.99 82.609 77.963 82.636 77.938 82.663C75.9297 84.8245 73.1145 86.0558 70.164 86.063 69.896 86.063 69.626 86.052 69.343 86.03 64.0243 85.5626 58.8522 84.0395 54.129 81.55 52.0297 80.421 50.0148 79.1417 48.1 77.722L48.079 77.706 48.056 77.69C36.2285 69.2842 26.0535 58.7681 18.042 46.67 15.7841 43.5062 13.8478 40.1247 12.262 36.576 11.09 33.286 9.8 28.946 10.1 24.44L10.1 24.41 10.1 24.381C10.2068 22.1947 11.169 20.138 12.779 18.655L12.798 18.637 12.816 18.619 16.51 14.924 33.557 31.971 30.087 35.4C28.5037 37.0216 28.5037 39.6104 30.087 41.232L54.887 65.932C56.5193 67.5239 59.127 67.5115 60.744 65.904L64.049 62.464 81.092 79.506ZM85.19 75.409 82.506 78.094 65.435 61.022 68.118 58.23C69.0192 57.2991 70.5044 57.2751 71.4353 58.1763 71.4535 58.1939 71.4714 58.2118 71.489 58.23L85.289 72.03C86.1456 73.0065 86.102 74.479 85.189 75.403Z" /></svg>
                            </div>
                            <div class="r_box_txt">
                                (19) 3809-6969
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="faixa_4">
            <div class="container">
                <div class="row r_line r_nav">
                    <ul>
                        <li>Sobre Nós</li>
                        <li>Política</li>
                        <li>Trabalhe Conosco</li>
                    </ul>
                </div>
            </div>
        </div>*@
        <div class="faixa_4 copyrigth">
            <div class="container">
                Copyright © 2021 <strong><span>Contador</span><span style="color: #ff4400;">com</span><span>você</span></strong>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.mask.min.js" type="text/javascript"></script>
    <script src="~/lib/select2/js/select2.full.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-ui-1.12.1/jquery-ui.js"></script>
    <script src="~/js/moment.min.js" type="text/javascript"></script>
    <script src="~/lib/select2/js/i18n/pt-BR.js" type="text/javascript"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
