@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Clientes</h2>
<hr class="hrLine" />

<a asp-area="Contabilidade" asp-controller="Clientes" asp-action="Create">Cadastrar</a>
<a asp-area="Contabilidade" asp-controller="Clientes" asp-action="Edit">Editar</a>




