@{
    Layout = null;
}
<style>
    #SelectClient + .select2-container .select2-selection--single {
        box-sizing: border-box;
        cursor: pointer;
        display: block;
        height: 38px;
        user-select: none;
        -webkit-user-select: none;
    }

        #SelectClient + .select2-container .select2-selection--single:focus {
            color: #495057;
            background-color: #fff;
            border-color: #80bdff;
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
        }

        /* line 131 */
        #SelectClient + .select2-container--default .select2-selection--single .select2-selection__rendered {
            color: #444;
            line-height: 38px;
        }

    /* line 139 */
    #SelectClient + .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: 38px;
        position: absolute;
        top: 1px;
        right: 1px;
        width: 20px;
    }

</style>
<div class="container">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Selecionar Cliente</h4>
            </div>
            <form asp-area="Contabilidade" asp-controller="Clientes" asp-action="SelectCliente">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="SelectClient" class="control-label"></label>
                        <select asp-items="@ViewBag.empresasContador" value="@TempData["empresasContador"]" id="SelectClient" name="cliente_id" class="form-control js_example_basic_single" style="width: 100%;"></select>                        
                    </div>                   
                </div>
                <input type="hidden" name="url" value="@TempData["url"]" />"
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-info">Selecionar</button>
                    </div>
</form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script>
    $(document).ready(function () {
        $('.js_example_basic_single').select2({
            width: 'resolve'
        });
    });
</script>