@{
    if (ViewData["area"] != null && ViewData["area"].ToString().Equals("Contabilidade"))
    {
        <a class="SelectClient" style="cursor:pointer">
            @ViewData["bread"].ToString()
        </a>
    }

    if (ViewData["area"] != null && ViewData["area"].ToString().Equals("Empresa"))
    {
        if (ViewData["openNav"] != null && ViewData["openNav"].ToString().Equals("aberto"))
        {
            <div class="bread_page" id="bread_page">
                <p onclick="openNav('fechado')">@ViewData["bread"].ToString()</p>
            </div>

            if (ViewData["bread"].ToString().Contains("Configurações"))
            {
                <div id="mySidenav" class="sidenav">
                    <a asp-controller="Configuracoes" asp-action="Contabilidade">Contabildiade</a>
                </div>
            }

            <script>
                    document.getElementById("bread").style.cursor = "pointer";                    
                    document.getElementById("bread").addEventListener('click', function () {
                        openNav('aberto');
                    });
            </script>
        }
        else
        {
            <div class="bread_page" id="bread_page">
                <p onclick="openNav('fechado')">@ViewData["bread"].ToString()</p>
            </div>
        }

    }
}