@{

    if (TempData["escopo"] != null)
    {
        if (TempData["escopo"].ToString().Contains("Configurações"))
        {
            <a asp-controller="Configuracoes" asp-action="Contabilidade">Contabildiade</a>
        }
        else
        {
            <a href="#">@TempData["escopo"]</a>
        }
    }
    else
    {
        <a href="#">Nulo</a>
    }
}