@model gestaoContadorcomvc.Models.Autenticacao.ForgotPassword

@{
    ViewData["Title"] = "Redefinir Senha";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <style>
        body {
            margin: 0px;
            background-image: url('/Imagens/background.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }

        .container {
            width: 100vw;
            height: 100vh;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center
        }

        .box {
            width: 500px;
            height: auto;
            background: #fff;
            text-align: center;
            padding-bottom: 5px;
        }

            .box input {
                text-align: center;
            }

                .box input:hover {
                    color: #495057;
                    background-color: #fff;
                    border-color: #80bdff;
                    outline: 0;
                    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
                }

        .faixa {
            width: 100%;
            height: 35px;
            border-bottom: 3px solid #ff4400;
            background-color: #060040;
        }

        .login {
            text-align: center;
            font-family: sans-serif;
            font-weight: bold;
            font-size: 32px;
            margin-top: 35px;
            margin-bottom: 40px;
        }

        .botao {
            width: 100%;
            margin-top: 10px;
        }

        .criarConta {
            margin-top: 10px;
        }

        .radio-toolbar input[type="radio"] {
            display: none;
        }

        .radio-toolbar label {
            float: left;
            background-color: #17a2b8;
            color: white;
            width: 135px;
            height: 38px;
            line-height: 38px;
            font-family: sans-serif;
            cursor: pointer;
            user-select: none;
        }

        .radio-toolbar input[type="radio"]:checked + label {
            background-color: #138496;
        }

        #label1 {
            border-bottom-left-radius: 5px;
            border-top-left-radius: 5px;
        }

        #label2 {
            border-bottom-right-radius: 5px;
            border-top-right-radius: 5px;
        }
    </style>
</head>
<body>
    <div class="container">
        <form class="box" autocomplete="off" asp-controller="ForgotPassword" asp-action="forgot_password">
            <div class="faixa"></div>
            <div class="container-fluid">
                <h1 class="login">Redefinição de Senha</h1>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <input asp-for="senha" class="form-control" placeholder="Nova senha" />
                            <span asp-validation-for="senha" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-group">
                            <input asp-for="confirmaSenha" class="form-control" placeholder="Confirmação de senha" />
                            <span asp-validation-for="confirmaSenha" class="text-danger"></span>
                        </div>
                    </div>
                    <input type="hidden" name="token" value="@TempData["token"].ToString()" />
                    <div class="col-12">
                        <div class="form-group">
                            <button type="submit" class="btn btn-info botao">Gravar</button>
                        </div>
                    </div>
                </div>

                @{
                    if (TempData["error"] != null)
                    {
                        <div class="row">
                            <div class="col-12">
                                <span class="text-danger">@TempData["error"].ToString()</span>
                            </div>
                        </div>
                    }

                    if (TempData["sucesso"] != null)
                    {
                        <div class="row">
                            <div class="col-12">
                                <div class="alert alert-success" role="alert">@TempData["sucesso"].ToString()</div>
                            </div>
                        </div>
                    }

                    if (TempData["falha"] != null)
                    {
                        <div class="row">
                            <div class="col-12">
                                <div class="alert alert-danger" role="alert">@TempData["falha"].ToString()</div>
                            </div>
                        </div>
                    }

                }
            </div>
        </form>
    </div>

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
