@model gestaoContadorcomvc.Models.Memorando
@{
    Layout = null;
}

<div class="container">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirmação de Exclusão</h4>
            </div>
            <div class="modal-body">
                <p>Confirme a exclusão do memorando: </p>
                <p><strong>Código: </strong>@Model.memorando_codigo</p>
                <p><strong>Descrição: </strong>@Model.memorando_descricao</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <form asp-controller="Memorando" asp-action="Delete" manifest="form">
                    <input type="hidden" value="@Model.memorando_id" name="memorando_id" />
                    <button type="submit" class="btn btn-danger" id="sub_form" onclick="blockSubmit(this.id,'form')">Apagar</button>
                    <br /><span class="text-info" id="msg_blockSubmit"></span>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>