@{
    if (TempData["user"] != null)
    {

        gestaoContadorcomvc.Models.ViewModel.Vm_usuario usuario = new gestaoContadorcomvc.Models.ViewModel.Vm_usuario();
        usuario = (gestaoContadorcomvc.Models.ViewModel.Vm_usuario)TempData["user"];

        if (usuario.permissoes != null)
        {
            <ul class="navbar-nav">
                @{
                    if (usuario.Role == "adm" || usuario._permissoes.planoContasList || usuario._permissoes.planoCategoriasList)
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Cadastro
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                @if (usuario.Role == "adm" || usuario._permissoes.planoContasList)
                                {<a class='dropdown-item' asp-area="Contabilidade" asp-controller='PlanoContas' asp-action='Index'>Plano de Contas</a>}
                                @if (usuario.Role == "adm" || usuario._permissoes.planoCategoriasList)
                                {<a class="dropdown-item" asp-area="Contabilidade" asp-controller='PlanoCategorias' asp-action='Index'>Plano de Categorias</a>}
                            </div>
                        </li>
                    }
                }

                @{
                    if (usuario.Role == "adm" || usuario._permissoes.clienteConfigList || usuario._permissoes.clienteCategoriasList)
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Cliente
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                @if (usuario.Role == "adm" || usuario._permissoes.clienteConfigList)
                                {<a class="dropdown-item" asp-area="Contabilidade" asp-controller='ConfigContadorCliente' asp-action='Index'>Configurações</a>}
                                @if (usuario.Role == "adm" || usuario._permissoes.clienteCategoriasList)
                                {<a class="dropdown-item" asp-area="Contabilidade" asp-controller='Categoria' asp-action='Index'>Categorias</a>}
                                <a class="dropdown-item" asp-area="Contabilidade" asp-controller='Lancamento' asp-action='Index'>Lançamentos</a>
                                <a class="dropdown-item" asp-area="Contabilidade" asp-controller='Balancete' asp-action='Create'>Balancete</a>                                
                                @*<a class="dropdown-item" href="#">DRE</a>*@
                            </div>
                        </li>
                    }
                }

                @{
                    if (usuario.Role == "adm" || usuario._permissoes.SCI_ilc)
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                SCI
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                @if (usuario.Role == "adm" || usuario._permissoes.SCI_ilc)
                                {<a class="dropdown-item" asp-area="Contabilidade" asp-controller='ImportacaoLancamentosContabeis' asp-action='Create'>Importação Lançamentos Contábeis</a>}
                            </div>
                        </li>
                    }
                }
            </ul>
            <div class="dropdown-divider"></div>
            var nome = usuario.usuario_nome.Split(" ");
            <ul class="navbar-nav ml-auto">
                <!--Menu alinhao a direita-->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Olá, @nome[0]</a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        @*<a class="dropdown-item" href="#">Minha Conta</a>*@
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" asp-controller="Conta" asp-action="Logout">Sair</a>
                    </div>
                </li>                
            </ul>
        }
    }
}
