@model gestaoContadorcomvc.Models.EmailModel

@{
    ViewData["Title"] = "EmailEnviado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Contato Suporte</h2>
<hr class="hrLine" />

<p>Sua solicitação foi enviada para o e-mail do suporte. Em breve retornaremos no e-mail cadastrado no sistema!</p>
