@model gestaoContadorcomvc.Models.EmailModel

@{
    ViewData["Title"] = "EmailEnviado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h1>Email - Gmail</h1>
<hr />
<h2>Seu email foi enviado com sucesso...</h2>
<br />

