
@{
    ViewData["Title"] = "Conta a Pagar";
    ViewData["bread"] = "Conta a Pagar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#home">Hoje</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu1">Atrasadas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu2">Próximas</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane container active" id="home">            
            <h3>Parcelas com vencimento para hoje</h3>
            @for (var c = 0; c < 15; c++)
            {
                <div class="row align-items-center listCompras" style="border: 1px solid #808080; margin-bottom: 5px;margin: 1px;text-align:center">
                    <div class="col-2 col-md-1">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                            <label class="custom-control-label" for="customCheck1"></label>
                        </div>
                    </div>
                    <div class="col-10 col-md-11">
                            <div class="row" style="margin-bottom: 5px;margin: 1px;text-align:center">
                            <div class="col-12 col-md-12" style="text-align:left">
                                Brasil comércio de bebidas ltda
                            </div>
                            <div class="col-6 col-md-2">
                                21/08/2020
                            </div>
                            <div class="col-6 col-md-2">
                                R$ 15.835,63
                            </div>
                            <div class="col-6 col-md-2">
                                Original
                            </div>
                            <div class="col-6 col-md-2">
                                Cartão Crédito
                            </div>
                            <div class="col-6 col-md-2">
                                Em Aberto
                            </div>
                            <div class="col-6 col-md-2">
                                Pagar
                            </div>
                        </div>
                    </div>                    
                </div>
            }
        </div>
        <div class="tab-pane container fade" id="menu1">            
            <h3>Parcelas em atraso</h3>
            @for (var c = 0; c < 2; c++)
            {
                <div class="row align-items-center listCompras" style="border: 1px solid #808080; margin-bottom: 5px;margin: 1px;text-align:center">
                    <div class="col-12 col-md-12" style="text-align:left">
                        Brasil comércio de bebidas ltda
                    </div>
                    <div class="col-6 col-md-2">
                        21/08/2020
                    </div>
                    <div class="col-6 col-md-2">
                        R$ 15.835,63
                    </div>
                    <div class="col-6 col-md-2">
                        Original
                    </div>
                    <div class="col-6 col-md-2">
                        Cartão de Crédito
                    </div>
                    <div class="col-6 col-md-2">
                        Em Aberto
                    </div>
                    <div class="col-6 col-md-2">
                        Pagar
                    </div>
                </div>
            }
        </div>
        <div class="tab-pane container fade" id="menu2">
            <h3>Parcelas com vencimento próximo</h3>
            @for (var c = 0; c < 10; c++)
            {
                <div class="row listCompras" style="border: 1px solid #808080; margin-bottom: 5px;margin: 1px;text-align:center">
                    <div class="col-12 col-md-12" style="text-align:left">
                        Brasil comércio de bebidas ltda
                    </div>
                    <div class="col-6 col-md-2">
                        21/08/2020
                    </div>
                    <div class="col-6 col-md-2">
                        R$ 15.835,63
                    </div>
                    <div class="col-6 col-md-2">
                        Original
                    </div>
                    <div class="col-6 col-md-2">
                        Cartão de Crédito
                    </div>
                    <div class="col-6 col-md-2">
                        Em Aberto
                    </div>
                    <div class="col-6 col-md-2">
                        Pagar
                    </div>
                </div>
            }
        </div>
    </div>
}