@model gestaoContadorcomvc.Models.ViewModel.Vm_categoria
@{
    Layout = null;
}
<div class="container">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirmação de Esclusão</h4>
            </div>
            <div class="modal-body">
                <p>Confirme a exclusão da conta bancária: @Model.contaPadrao_descricao</p>                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <form asp-controller="Categoria" asp-action="DeleteCxBanco">
                    <input type="hidden" value="@Model.contaPadrao_id" name="id" />
                    <button type="submit" class="btn btn-info">Apagar</button>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>