
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Configurações</h2>
<div class="btn-tools">
    <div class="row">
        <div class="coluna_1" style="text-align:left;width: 75px;user-select:none;">
            
        </div>
        <div class="coluna_1" style="text-align:right;width:calc(100% - 75px);user-select:none;padding-right: 15px;">
            <a class="btn btn-sm btn-info" onclick="openNav('aberto')" style="cursor:pointer">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-list" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 11.5A.5.5 0 0 1 3 11h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4A.5.5 0 0 1 3 3h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
                </svg>
            </a>            
        </div>
    </div>
</div>
<hr class="hrLine" />
<div class="jumbotron">
    <p><strong>Versão: </strong>1.0</p>
    <p><strong>Release: </strong>1</p>
</div>

