@model gestaoContadorcomvc.Areas.Contabilidade.Models.PlanoContas
@{
    Layout = null;
}
<div class="container">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Alterar plano de contas</h4>
            </div>
            <form asp-area="Contabilidade" asp-controller="PlanoContas" asp-action="Edit">
                <div class="modal-body">
                    <div class="row">
                            <div class="col-12">
                                <p>Alteração do plano de contas: <strong>@Model.plano_nome</strong></p>
                            </div>
                        </div>
                        <hr class="hrLine" />
                    @{
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label asp-for="plano_nome" class="control-label"></label>
                                    <input asp-for="plano_nome" class="form-control" />
                                    <span asp-validation-for="plano_nome" class="text-danger"></span>
                                </div>
                                <input type="hidden" asp-for="plano_id" />
                            </div>
                        </div>
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-info">Gravar</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>