@{
    ViewData["Title"] = "Profissionais de Saúde";
    Layout = "~/Views/Shared/_Layout_site.cshtml";
}
<div class="banner_1">
    <img src="~/Imagens/profissionais-de-saude-contadorcomvc.jpg" class="img-fluid" alt="Responsive image">
</div>
<div class="faixa_2">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="card-text">Você que é Dentista, Psicólogo, Fisioterapeura, Médico e outros profissionáis da área da saúde enfrentam a correria da profissão e ainda precisa tomar conta de toda a rotina financeira.</p>
                <p class="card-text">Você dedica seu esforço na atividade principal de sua empresa e a Contadorcomvocê cuidará de toda parte burocrática do departamento financiero.</p>

                <a href="#contato_site" class="btn btn-secondary scroll_inter">Legal, quero saber mais!!!</a>
            </div>
        </div>
    </div>
</div>
<div class="faixa_2">
    @await Component.InvokeAsync("Site_Servicos")
</div>
<div class="faixa_1">
    @await Component.InvokeAsync("Site_Como_Funciona")
</div>
<div class="faixa_2">
    @await Component.InvokeAsync("Site_Contato", "4")
</div>
@await Component.InvokeAsync("Site_Whatsapp", "4")