@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout_site.cshtml";
}

<div class="banner_1">
    <img src="~/Imagens/banner_contadorcomvc.jpeg" class="img-fluid" alt="Responsive image">
</div>
<div class="faixa_2">
    <div class="container">
        <div class="row" style="text-align:center;font-size:26px;margin-bottom:15px;">
            <div class="col-12">
                <span><strong>O que eu ganho contratando a</strong></span>
            </div>
            <div class="col-12">
                <strong><span>Contador</span><span style="color: #ff4400;">com</span><span>você</span>?</strong>
            </div>
        </div>
        <div class="row" style="margin-bottom:15px;">
            <div class="col-md-6">
                <div class="b_box">
                    <div class="b_icon"><svg viewBox="0 0 96 96" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="Icons_Money_M" overflow="hidden"><g id="Icons"><path d="M80.522 28.977 82.1 37 84.138 37 82.1 26.625 30 36.982C29.945 36.993 29.946 37.001 30 37.001L40.161 37.001Z" fill="#060040" /><path d="M68.655 18.107 71.668 25.64 73.668 25.24 69.768 15.49 17.208 36.982C17.182 36.993 17.184 37.001 17.208 37.001L22.442 37.001Z" fill="#060040" /><path d="M92.012 40 4 40 4 80 92.012 80ZM90.012 78 6 78 6 42 90.012 42Z" fill="#060040" /><path d="M48.006 69C51.983 69 55.206 64.971 55.206 60 55.206 55.029 51.982 51 48.006 51 44.03 51 40.806 55.029 40.806 60 40.806 64.971 44.029 69 48.006 69ZM48.006 53C50.874 53 53.206 56.14 53.206 60 53.206 63.86 50.873 67 48.006 67 45.139 67 42.806 63.86 42.806 60 42.806 56.14 45.139 53 48.006 53Z" fill="#060040" /><path d="M21.918 63.859C24.0547 64.4518 26.2674 63.2002 26.8602 61.0635 27.0551 60.3609 27.0551 59.6185 26.86 58.916 26.4923 57.5676 25.4392 56.5141 24.091 56.146 21.9547 55.5517 19.7411 56.8017 19.1468 58.938 18.9508 59.6423 18.9509 60.3867 19.147 61.091 19.5153 62.4393 20.5693 63.4922 21.918 63.859ZM23 58C24.1046 58 25 58.8954 25 60 25 61.1046 24.1046 62 23 62 21.8954 62 21 61.1046 21 60 21 58.8954 21.8954 58 23 58Z" fill="#060040" /><path d="M73.826 63.921C75.7231 63.4789 77.0514 61.7685 77.01 59.821L77.01 59.821C77.036 58.5002 76.348 57.2679 75.21 56.597 73.3135 55.4101 70.8139 55.9853 69.6269 57.8818 69.2298 58.5163 69.0163 59.2485 69.01 59.997 69.0103 62.21 70.8045 64.0038 73.0175 64.0035 73.2891 64.0035 73.56 63.9758 73.826 63.921ZM73.01 58C74.1146 58 75.01 58.8954 75.01 60 75.01 61.1046 74.1146 62 73.01 62 71.9054 62 71.01 61.1046 71.01 60 71.01 58.8954 71.9054 58 73.01 58Z" fill="#060040" /><path d="M83.011 74 86.011 71 86.011 49 83.011 46 14 46 10 50 10 70 14 74ZM12 50.83 14.83 48 82.183 48 84.011 49.828 84.011 70.174 82.183 72 14.83 72 12 69.174Z" fill="#060040" /></g></svg></div>
                    <div class="b_titulo">Redução de custos</div>
                    <div class="b_texto">Redução de custos com salários e estrutura departamental.</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="b_box">
                    <div class="b_icon"><svg viewBox="0 0 96 96" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="Icons_Stopwatch7_M" overflow="hidden"><path d="M69.456 27.958 73.707 23.707C74.0907 23.3097 74.0797 22.6767 73.6824 22.293 73.2949 21.9187 72.6805 21.9187 72.293 22.293L67.893 26.693C62.4442 22.5556 55.8387 20.2243 49 20.025L49 14 59 14 59 12 37 12 37 14 47 14 47 20.025C28.7619 20.557 14.4083 35.7731 14.9403 54.0112 15.4723 72.2493 30.6885 86.6029 48.9265 86.0709 67.1646 85.5389 81.5182 70.3228 80.9862 52.0847 80.7147 42.7769 76.5278 34.0159 69.456 27.958ZM48 84C30.8792 84 17 70.1208 17 53 17 35.8792 30.8792 22 48 22 65.1208 22 79 35.8792 79 53 78.9807 70.1128 65.1128 83.9807 48 84Z" fill="#060040" /><path d="M53.179 30.588 52.729 32.537C64.0922 35.0955 71.2298 46.3813 68.6713 57.7445 66.1127 69.1077 54.827 76.2453 43.4637 73.6868 32.1005 71.1283 24.9629 59.8425 27.5215 48.4793 29.5972 39.2602 37.5521 32.5472 46.989 32.051 46.9947 32.051 46.9995 32.0553 47 32.061L47 47.1C44.2944 47.6523 42.5487 50.2933 43.101 52.999 43.6533 55.7046 46.2944 57.4502 49 56.898 51.7056 56.3457 53.4513 53.7046 52.899 50.999 52.4982 49.0354 50.9636 47.5008 49 47.1L49 26 47 26 47 30.025C34.3233 30.5904 24.5052 41.3253 25.0706 54.0019 25.636 66.6786 36.3708 76.4968 49.0475 75.9314 61.7242 75.3659 71.5424 64.6311 70.977 51.9544 70.517 41.643 63.2374 32.9039 53.179 30.588ZM51 52C51 53.6569 49.6569 55 48 55 46.3431 55 45 53.6569 45 52 45 50.3431 46.3431 49 48 49 49.6569 49 51 50.3431 51 52Z" fill="#060040" /></svg></div>
                    <div class="b_titulo">Mais tempo para seu negócio</div>
                    <div class="b_texto">Você terá mais tempo para se dedicar ao seu negócio gerando vendas e lucro.</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="b_box">
                    <div class="b_icon"><svg viewBox="0 0 96 96" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="Icons_SmartPhone_M" overflow="hidden"><g id="Icons"><path d="M30 14 28 14 28 82.022 68 82.022 68 14 30 14ZM66 80.022 30 80.022 30 16 66 16Z" fill="#060040" /><path d="M71 4 25 4C23.8968 4.00329 23.0033 4.8968 23 6L23 90.025C23.0038 91.128 23.897 92.0212 25 92.025L71 92.025C72.1027 92.0206 72.9956 91.1277 73 90.025L73 6C72.9962 4.89703 72.103 4.00384 71 4ZM71 90.025 25 90.025 25 6 71 6Z" fill="#060040" /><path d="M44 11 53 11C53.5523 11 54 10.5523 54 10 54 9.44771 53.5523 9 53 9L44 9C43.4477 9 43 9.44771 43 10 43 10.5523 43.4477 11 44 11Z" fill="#060040" /></g></svg></div>
                    <div class="b_titulo">Informação financeira real</div>
                    <div class="b_texto">Relatórios com informações em tempo real e on-line.</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="b_box">
                    <div class="b_icon"><svg viewBox="0 0 96 96" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="Icons_OfficeworkerFemale_M" overflow="hidden"><path d="M78 65C77.9 62.5 76.7 60 74.6 58.3 71.9 56 68.2 53.9 63.2 51.9 66 51.2 68.4 49.7 68.5 49.6 68.8 49.4 68.9 49.2 69 48.9 69 48.6 68.9 48.3 68.7 48.1 68.7 48.1 65.6 45.1 65.3 41.9 65.2 40.6 65.7 37.9 66.3 35 67 31.3 67.8 27.1 67.8 23.7 67.8 18.8 66.5 16.1 63.3 14.2 61.9 13.4 59.5 13.7 58.3 13.9 57.4 12.7 55.1 10.3 50.2 8.7 44.9 7.3 39.4 8 34.6 10.7 30.3 13.5 28.5 17.9 28.5 25.8 28.5 29.7 28.7 33.1 28.9 36.1 29.1 39.5 29.3 42.2 29 44 28.8 45.8 27.8 47.4 26.8 48.7 26.6 48.9 26.6 49.2 26.6 49.5 26.6 49.8 26.8 50 27.1 50.2 27.3 50.3 29.5 51.5 32.3 52.1 27.4 54 23.8 56.1 21.2 58.3 19.3 60 18.1 62.5 18 65L18 82 18.4 82.3C23.1 85.4 35.7 87 48.3 87 60.9 87 73.4 85.4 77.6 82.3L78 82 78 65ZM36.8 52.4 38.5 51.7C38.6 51.7 38.7 51.6 38.8 51.6 38.9 51.6 38.9 51.6 39 51.5L39 51.5C40.3 50.8 41 49.5 41 48L41 46.2C43.1 47.3 45.5 47.9 48 47.9 50.5 47.9 52.9 47.3 55 46.2L55 48C55 49.5 55.8 50.8 57.1 51.5L57.1 51.5C57.1 51.5 57.2 51.5 57.2 51.5 57.3 51.6 57.4 51.6 57.5 51.7L59.2 52.4 59 53.2C56.8 54.9 52.6 56 48 56 43.4 56 39.1 54.9 37 53.2L36.8 52.4ZM48 46C40.8 46 35 40.2 35 33L35 29C39 28.8 44.5 27.3 47.6 26L48.6 25.5C51.5 24 53.5 23.1 56.1 20.6 56.3 21.8 56.9 25.7 57.8 27.4 58.8 29.1 59.9 29.9 60.6 30.4 60.7 30.5 60.8 30.5 60.9 30.6L60.9 33C61 40.2 55.2 46 48 46ZM63 30C63 29.8 62.9 29.5 62.7 29.3 62.5 29 62.1 28.8 61.8 28.6 61.1 28.2 60.3 27.6 59.6 26.3 59 25.3 58.4 22.5 58.1 20.2 58 19.8 57.8 19.4 57.6 19.1 57.2 18.7 56.7 18.5 56.2 18.5 56.2 18.5 56.2 18.5 56.2 18.5 55.7 18.5 55.2 18.7 54.9 19 52.4 21.2 50.7 22.1 47.8 23.5L46.8 24C43.7 25.4 37.8 26.9 34 26.9 33.4 26.9 33 27.3 33 27.9 33 27.9 33 27.9 33 27.9L33 27.9 33 32.9C33 37.8 35.4 42.1 39 44.9L39 48C39 48.8 38.5 49.5 37.8 49.8 35.1 51 31.1 49.6 29.3 48.8 30.2 47.5 30.9 46 31.2 44.2 31.5 42.2 31.3 39.4 31.1 35.9 30.9 32.9 30.7 29.6 30.7 25.7 30.7 18.6 32.2 14.7 35.8 12.4 40.1 10 45 9.3 49.8 10.6 55.3 12.3 57.1 15.4 57.1 15.4 57.3 15.8 57.8 16 58.2 15.9 59.5 15.6 61.7 15.4 62.5 15.9 64.7 17.1 66 18.8 66 23.6 66 26.8 65.2 30.9 64.5 34.5 63.9 37.7 63.4 40.4 63.5 42 63.7 44.8 65.5 47.3 66.6 48.6 64.8 49.5 61 51.2 58.3 49.9 57.6 49.6 57.2 48.9 57.2 48.1L57.2 45C60.8 42.3 63.2 37.9 63.2 33L63 30ZM20 65C20 63 21 61.2 22.6 59.7 25.4 57.3 29.4 55.2 34.9 53.1L43.7 85C33.6 84.7 24.1 83.3 20 81L20 65ZM45.8 85 37.8 56C40.4 57.3 44.1 58 48 58 51.9 58 55.6 57.3 58.2 56L50.2 85C48.7 85.1 47.3 85 45.8 85ZM52.3 85 61.1 53.2C66.6 55.3 70.6 57.4 73.4 59.8 75 61.2 76 63 76 65L76 81C72.2 83.4 62.6 84.7 52.3 85Z" fill="#060040" /></svg></div>
                    <div class="b_titulo">Gerente especializado</div>
                    <div class="b_texto">Seu gerente financeiro especializado para cuidar das finanças de sua empresa.</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="b_box">
                    <div class="b_icon"><svg viewBox="0 0 96 96" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="Icons_ShieldCross_M" overflow="hidden"><g id="Icons"><path d="M78.532 21.9C67.9146 21.0417 58.0203 16.1801 50.853 8.3 49.5003 6.73096 47.1318 6.55556 45.5628 7.90823 45.4227 8.02898 45.2917 8.15993 45.171 8.3 38.0045 16.1797 28.1083 21.0373 17.491 21.887 15.5158 22.0776 14.0136 23.7457 14.03 25.73L14.03 35.413C14.03 56.476 27.385 75.742 45.921 87.663 47.1933 88.4857 48.8297 88.4857 50.102 87.663 68.639 75.742 81.993 56.486 81.993 35.423L81.993 25.742C82.0123 23.7568 80.5084 22.0874 78.532 21.9ZM79.993 35.426C79.993 54.611 68.415 73.511 49.021 85.983 48.4076 86.3824 47.6164 86.3824 47.003 85.983 27.609 73.51 16.03 54.606 16.03 35.415L16.03 25.732C16.0122 24.7891 16.7149 23.9876 17.652 23.882 28.7779 23.0011 39.1492 17.9106 46.652 9.648 46.9916 9.24946 47.4846 9.0139 48.008 9 48.5343 9.01385 49.0303 9.24915 49.374 9.648 56.8784 17.9099 67.2481 23.0032 78.374 23.892 79.3115 23.9972 80.0148 24.7988 79.997 25.742Z" /><path d="M22.03 29.4 22.03 35.418C22.03 51.823 31.693 68.118 48.012 79.445 64.33 68.112 73.993 51.823 73.993 35.425L73.993 29.4C64.2764 27.8542 55.2355 23.4649 48.011 16.786 40.7884 23.4671 31.7471 27.8567 22.03 29.4ZM71.993 35.428C71.993 50.658 63.055 66.107 48.012 76.993 32.969 66.1 24.03 50.652 24.03 35.415L24.03 31.075C32.9011 29.3693 41.1696 25.3664 48.01 19.466 54.8519 25.367 63.121 29.3718 71.993 31.081Z" /><path d="M38.707 36.293 37.293 37.707 46.586 47 37.293 56.293 38.707 57.707 48 48.414 57.293 57.707 58.707 56.293 49.414 47 58.707 37.707 57.293 36.293 48 45.586 38.707 36.293Z" /></g></svg></div>
                    <div class="b_titulo">Segurança</div>
                    <div class="b_texto">Sigilo com as suas informações.</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="b_box">
                    <div class="b_icon"><svg viewBox="0 0 96 96" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" id="Icons_FilingBoxArchive_M" overflow="hidden"><g id="Icons"><path d="M10.01 34 13.01 34 13.01 77.99 83 77.99 83 34 86 34 86 18 10.01 18ZM81 75.99 15.009 75.99 15.009 34 81 34ZM12.01 20 84 20 84 32 12.01 32Z" fill="#060040" /><path d="M59 52 59 42 37 42 37 52ZM39 44 57 44 57 50 39 50Z" fill="#060040" /></g></svg></div>
                    <div class="b_titulo">Gestão dos documentos</div>
                    <div class="b_texto">Toda a sua documentação financeira organizada.</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Serviços-->
<div class="faixa_1">
    @await Component.InvokeAsync("Site_Servicos")
</div>
<div class="faixa_2">
    @await Component.InvokeAsync("Site_Como_Funciona")
</div>
<div class="faixa_1">
    <div class="container">
        <div class="row" style="text-align:center;font-size:26px;margin-bottom:15px;">
            <div class="col-12">
                <span><strong>Perguntas Frequentes</strong></span>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="accordion" id="myaccordion">                    
                    
                </div>
            </div>
        </div>
    </div>
</div>
<div class="faixa_2">
    @await Component.InvokeAsync("Site_Contato", "4")
</div>

@await Component.InvokeAsync("Site_Whatsapp", "4")