@{
    ViewData["Title"] = "Produtos";
    Layout = "~/Views/Shared/_Layout_site.cshtml";
}

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="~/Imagens/imagem_6.jpg" alt="Primeiro Slide" style="height:550px;">
        </div>
        @*<div class="carousel-item">
                <img class="d-block w-100" src=".../800x400?auto=yes&bg=666&fg=444&text=Segundo Slide" alt="Segundo Slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src=".../800x400?auto=yes&bg=555&fg=333&text=Terceiro Slide" alt="Terceiro Slide">
            </div>*@
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
    </a>
</div>
<div class="container">
    <div style="height:2000px">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id eros felis. Vivamus sagittis, urna non vehicula ornare, odio odio iaculis augue, ut pharetra tellus justo vitae massa. Nullam dictum elit urna, eget porta nunc convallis ut. Proin imperdiet tristique metus sit amet gravida. Curabitur quis lectus non augue aliquam facilisis eu sed magna. Etiam pretium felis sit amet lectus fermentum semper. Etiam vel justo elementum, aliquet orci nec, dapibus ipsum. Proin non quam ullamcorper, hendrerit enim ut, condimentum lacus. Quisque elementum mollis metus, at consequat nulla feugiat quis. Nunc faucibus gravida lacus aliquet aliquam. Pellentesque venenatis posuere velit.

            Etiam tempor, ipsum et iaculis pharetra, nibh ex auctor velit, in ullamcorper enim orci sit amet turpis. Pellentesque ac viverra neque, ut interdum velit. Donec aliquam placerat elementum. Aliquam interdum cursus quam vel ullamcorper. In feugiat lorem vitae orci placerat iaculis. Nulla maximus congue est nec accumsan. Quisque posuere diam sit amet felis cursus ultricies ac at quam.

            Vivamus ac volutpat odio. Cras at quam sagittis, interdum felis eu, tincidunt ipsum. Duis orci quam, semper eget malesuada vitae, faucibus non velit. Aliquam eu vehicula lectus. Vestibulum ut dolor at elit pharetra condimentum. Cras ac volutpat lacus. Ut dolor purus, lacinia eu laoreet a, placerat ac ligula. Cras pellentesque congue nunc, ut venenatis nunc convallis cursus. Donec semper ac libero non placerat. Fusce vitae ultricies ex, sed lobortis erat. Mauris eget lacinia velit. Curabitur condimentum et ligula eu malesuada. Duis malesuada elementum vulputate. Aenean interdum a ipsum ac finibus. Vivamus eleifend leo ultricies tortor porta, vehicula viverra dolor laoreet.

            Integer sit amet est id lacus condimentum convallis. Etiam et vestibulum tortor, euismod interdum sapien. Donec non ultricies leo. Duis non quam massa. Mauris eget tellus non nisi scelerisque lobortis. Nunc non sem facilisis, mollis eros volutpat, fermentum turpis. Aliquam tristique condimentum neque, vitae iaculis lorem aliquam et. Maecenas eu eros vel urna convallis pulvinar. Mauris pretium erat at feugiat lobortis. Vestibulum congue nulla eget elit egestas ultricies. Fusce id nunc rutrum, tristique nunc quis, luctus lectus. Nam mollis sodales tempus.

            Vivamus ornare elit diam, et congue lorem laoreet et. Sed sed lectus vitae urna tempus iaculis id ut justo. Proin vel velit mollis sapien pulvinar iaculis sit amet id ipsum. Suspendisse vel posuere magna, vitae finibus ligula. Donec tincidunt iaculis consectetur. Cras accumsan massa eget nisl faucibus, mattis pellentesque odio dictum. Nullam finibus ligula elementum vulputate pulvinar. Aliquam at sem eu lectus fringilla pharetra. Integer rhoncus vitae erat eu maximus. Maecenas mollis, nulla quis fringilla vehicula, lorem erat auctor diam, eget aliquet risus orci in nibh. Fusce vehicula arcu quis erat ultrices, eu mollis diam commodo.
        </p>
    </div>
</div>
