@{
    ViewData["Title"] = "Seguradoras/Corretoras";
    Layout = "~/Views/Shared/_Layout_site.cshtml";
}
<div class="banner_1">
    <img src="~/Imagens/seguradoras-corretoras-contadorcomvc.jpg" class="img-fluid" alt="Responsive image">
</div>
<div class="faixa_2">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="card-text">Você prestador de serviços que cuida de praticatimente tudo na empresa e está precisando de ajuda para as tarefas chatas do departamento financeiro, nós podemos te ajudar.</p>
                <p class="card-text">Você dedicará seu esforço na atividade principal de sua empresa e a Contadorcomvocê cuidará de toda parte burocrática do departamento financiero.</p>

                <button class="btn btn-secondary">Legal, quero saber mais!!!</button>
            </div>
        </div>
    </div>
</div>
<div class="faixa_2">
    @await Component.InvokeAsync("Site_Servicos")
</div>
<div class="faixa_1">
    @await Component.InvokeAsync("Site_Como_Funciona")
</div>
<div class="faixa_2">
    @await Component.InvokeAsync("Site_Contato", "4")
</div>