<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Acesso Negado!!</h4>
    <p>Você está tentando acessar uma área exclusiva para contabilidade!</p>    
    <p>Caso sua conta seja uma contabilidade e não possui credenciamento como contador, entrar em contato para solicitar credenciamento.</p>    
</div>