@{
    ViewData["Title"] = "Acesso Negado";
    Layout = "~/Areas/Contabilidade/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Acesso Negado!!</h4>
    <p>Sem permissão para a rota solicitada</p>    
</div>