@{
    ViewData["Title"] = "Acesso Negado";
    Layout = "~/Areas/Contabilidade/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Acesso Negado!!</h4>
    <p>Consulte o administrador do sistema para liberação de permissões de acesso do usuário.</p>
</div>