@model gestaoContadorcomvc.Models.ViewModel.Vm_home

@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <h5>Olá @Model.user.usuario_nome, você está acessando a área de gestão financeira de @Model.user.conta.conta_nome</h5>
    </div>
</div>