@{
    if (TempData["user"] != null)
    {

        gestaoContadorcomvc.Models.ViewModel.Vm_usuario usuario = new gestaoContadorcomvc.Models.ViewModel.Vm_usuario();
        usuario = (gestaoContadorcomvc.Models.ViewModel.Vm_usuario)TempData["user"];

        if (usuario.permissoes != null)
        {
    <ul class="navbar-nav">
        @{
            if (usuario.Role == "adm" || usuario._permissoes.usuarioList || usuario._permissoes.categoriaList || usuario._permissoes.ccorrenteList || usuario._permissoes.fpList || usuario._permissoes.participanteList || usuario._permissoes.produtosList || usuario._permissoes.memorandoList)
            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Cadastro
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        @if (usuario.Role == "adm" || usuario._permissoes.usuarioList)
                        {<a class='dropdown-item' asp-controller='Usuario' asp-action='Index'>Usuários</a>}
                        @if (usuario.Role == "adm" || usuario._permissoes.categoriaList)
                        {<a class="dropdown-item" asp-controller='Categoria' asp-action='Index'>Categorias</a>}
                        @if (usuario.Role == "adm" || usuario._permissoes.ccorrenteList)
                        {<a class="dropdown-item" asp-controller='ContaCorrente' asp-action='Index'>Conta Corrente</a>}
                        @if (usuario.Role == "adm" || usuario._permissoes.fpList)
                        {<a class="dropdown-item" asp-controller='FormaPagamento' asp-action='Index'>Formas de Pagamento</a>}
                        @if (usuario.Role == "adm" || usuario._permissoes.memorandoList)
                        {<a class="dropdown-item" asp-controller='Memorando' asp-action='Index'>Memorando</a>}
                        @if (usuario.Role == "adm" || usuario._permissoes.participanteList)
                        {<a class="dropdown-item" asp-controller='Participante' asp-action='Index'>Participante</a>}
                        @if (usuario.Role == "adm" || usuario._permissoes.produtosList)
                        {<a class="dropdown-item" asp-controller='Produtos' asp-action='Index'>Produtos</a>}
                        @if (usuario.Role == "adm" || usuario._permissoes.centro_custoList)
                        {<a class="dropdown-item" asp-controller='CentroCusto' asp-action='Index'>Centro de Custo</a>}
                    </div>
                </li>
            }
        }

        @{
            if (usuario.Role == "adm" || usuario._permissoes.operacaoList || usuario._permissoes.CCMList || usuario._permissoes.contasFList)
            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Lançamento
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        @*@if ((usuario.conta.conta_tipo != "Pessoa Física") && (usuario.Role == "adm" || usuario._permissoes.compraList))
                        {<a class="dropdown-item" asp-controller='Compra' asp-action='Index'>Compra</a>}
                        @if ((usuario.conta.conta_tipo.Equals("Contabilidade") || usuario.conta.conta_tipo.Equals("Empresa")) && (usuario.Role == "adm" || usuario._permissoes.vendaList))
                        {<a class="dropdown-item" asp-controller='Venda' asp-action='Index'>Venda</a>}
                        @if ((usuario.conta.conta_tipo.Equals("Contabilidade") || usuario.conta.conta_tipo.Equals("Empresa")) && (usuario.Role == "adm" || usuario._permissoes.servicoPList))
                        {<a class="dropdown-item" asp-controller='ServicoPrestado' asp-action='Index'>Prestação de Serviço</a>}
                        @if ((usuario.conta.conta_tipo != "Pessoa Física") && (usuario.Role == "adm" || usuario._permissoes.servicoTList))
                        {<a class="dropdown-item" asp-controller='ServicoTomado' asp-action='Index'>Serviço Tomado</a>}*@
                        @if (usuario.Role == "adm" || usuario._permissoes.operacaoList)
                        {<a class="dropdown-item" asp-controller='Operacao' asp-action='Index'>Operações</a>}
                        @if ((usuario.conta.conta_tipo == "Pessoa Física") && (usuario.Role == "adm" || usuario._permissoes.contasFList))
                        {<a class="dropdown-item" asp-controller='ContasFinanceiras' asp-action='Index'>Contas Financeiras</a>} 
                        @if (usuario.Role == "adm" || usuario._permissoes.CCMList)
                        {
                            <a class="dropdown-item" asp-controller="ContaCorrenteMov" asp-action="Index">Conta Corrente Movimento</a>
                        }
                    </div>
                </li>
            }
        }
        @{
            if (usuario.Role == "adm" || usuario._permissoes.ContasPList || usuario._permissoes.ContasRList)
            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Controle
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        @if (usuario.Role == "adm" || usuario._permissoes.ContasPList)
                        {
                            <a class="dropdown-item" asp-controller="ContasPagar" asp-action="Index">Contas a Pagar</a>
                        }
                        @if (usuario.Role == "adm" || usuario._permissoes.ContasRList)
                        {
                            <a class="dropdown-item" asp-controller="ContasReceber" asp-action="Index">Contas a Receber</a>
                        }
                        @if (usuario.Role == "adm" || usuario._permissoes.cartaoCreditoList)
                        {
                            <a class="dropdown-item" asp-controller="CartaoCredito" asp-action="Index">Cartão de Crédito</a>
                        }
                    </div>
                </li>
            }
        }
        @{
            if (usuario.Role == "adm" || usuario._permissoes.rCategoriasList)
            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Relatórios
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        @if (usuario.Role == "adm" || usuario._permissoes.rCategoriasList)
                        {
                            <a class="dropdown-item" asp-controller="Categoria_opp" asp-action="Create">Relatório Financeiro Anual</a>
                        }
                        @if (usuario.Role == "adm" || usuario._permissoes.rfm)
                        {
                            <a class="dropdown-item" asp-controller="Rfm" asp-action="Create">Relatório Financeiro por Período</a>
                        }
                        @if (usuario.Role == "adm" || usuario._permissoes.rpList)
                        {
                            <a class="dropdown-item" asp-controller="Rp" asp-action="Create">Relatório Participante Anual</a>
                        }
                        @if (usuario.Role == "adm" || usuario._permissoes.riopList)
                        {
                            <a class="dropdown-item" asp-controller="Riop" asp-action="Create">Relatório Itens Operação</a>
                        }
                    </div>
                </li>
            }
        }


        <!--Removido o relatório do menu até que estejam prontos no desenvolvimento-->
        @*<li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Relatório
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Fluxo de Caixa Anual</a>
                <a class="dropdown-item" href="#">Ficha Financeira</a>
            </div>
        </li>*@
    </ul>
            <div class="dropdown-divider"></div>
            <ul class="navbar-nav ml-auto">
                <!--Menu alinhao a direita-->
                <li class="nav-item dropdown">
                    @{
                        var nome = usuario.usuario_nome.Split(" ");

                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Olá, @nome[0]</a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                            @*<a class="dropdown-item" href="#">Minha Conta</a>*@
                            @if (usuario.Role == "adm" || usuario._permissoes.config)
                            {
                                <a class="dropdown-item" asp-controller="Configuracoes" asp-action="Index">Configurações</a>
                                <a class="dropdown-item" asp-controller='Email' asp-action='EnviaEmail'>Contato Suporte</a>
                            }
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-controller="Conta" asp-action="Logout">Sair</a>
                        </div>
                    }
                </li>
            </ul>
        }
    }
}
