@{
    if (TempData["user"] != null)
    {

        gestaoContadorcomvc.Models.ViewModel.Vm_usuario usuario = new gestaoContadorcomvc.Models.ViewModel.Vm_usuario();
        usuario = (gestaoContadorcomvc.Models.ViewModel.Vm_usuario)TempData["user"];

        if (usuario.permissoes != null)
        {
    <ul class="navbar-nav">
        @{
            if (usuario.Role == "adm" || usuario._permissoes.usuarioList || usuario._permissoes.categoriaList)
            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Cadastro
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        @if (usuario.Role == "adm" || usuario._permissoes.usuarioList)
                        {<a class='dropdown-item' asp-controller='Usuario' asp-action='Index'>Usuários</a>}
                        @if (usuario.Role == "adm" || usuario._permissoes.categoriaList)
                        {<a class="dropdown-item" asp-controller='Categoria' asp-action='Index'>Categorias</a>}
                        @if (usuario.Role == "adm" || usuario._permissoes.ccorrenteList)
                        {<a class="dropdown-item" asp-controller='ContaCorrente' asp-action='Index'>Conta Corrente</a>}
                        @if (usuario.Role == "adm" || usuario._permissoes.fpList)
                        {<a class="dropdown-item" asp-controller='FormaPagamento' asp-action='Index'>Formas de Pagamento</a>}
                        @if (usuario.Role == "adm" || usuario._permissoes.participanteList)
                        {<a class="dropdown-item" asp-controller='Participante' asp-action='Index'>Participante</a>}
                        @if (usuario.Role == "adm" || usuario._permissoes.produtosList)
                        {<a class="dropdown-item" asp-controller='Produtos' asp-action='Index'>Produtos</a>}
                    </div>
                </li>
            }
        }

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Lançamento
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Orçamento Financeiro</a>
                @if (usuario.Role == "adm" || usuario._permissoes.compraList)
                {<a class="dropdown-item" asp-controller='Compra' asp-action='Create'>Compra</a>}                
                <a class="dropdown-item" href="#">Venda</a>
                <a class="dropdown-item" href="#">Prestação de Serviço</a>
                <a class="dropdown-item" href="#">Empréstimos/Financiamentos</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Controle
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" asp-controller="ContasPagar" asp-action="Index">Contas a Pagar</a>
                <a class="dropdown-item" href="#">Contas a Receber</a>
                <a class="dropdown-item" href="#">Fluxo de Caixa</a>
                <a class="dropdown-item" href="#">Cartão de Crédito</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Relatório
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">FLuxo de Caixa Anual</a>
                <a class="dropdown-item" href="#">Conciliação Categoria</a>
                <a class="dropdown-item" href="#">Extrato Categoria</a>
                <a class="dropdown-item" href="#">Comparativo Orçamento/Realizado</a>
            </div>
        </li>
    </ul>
            <div class="dropdown-divider"></div>
            <ul class="navbar-nav ml-auto">
                <!--Menu alinhao a direita-->
                <li class="nav-item dropdown">
                    @{
                        var nome = usuario.usuario_nome.Split(" ");

                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Olá, @nome[0]</a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Minha Conta</a>
                            @if (usuario.Role == "adm" || usuario._permissoes.config)
                            {
                                <a class="dropdown-item" asp-controller="Configuracoes" asp-action="Index">Configurações</a>
                            }
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-controller="Conta" asp-action="Logout">Sair</a>
                        </div>
                    }
                </li>
            </ul>
        }
    }
}
