<div class="container">
    <div class="row" style="text-align:center;font-size:26px;margin-bottom:15px;">
        <div class="col-12">
            <span><strong>Nos envie uma mensagem e torne-se nosso parceiro!</strong></span>
        </div>
    </div>
    <div class="contato_box">
        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <input id="contato_nome" class="form-control" placeholder="Nome" />
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <input id="contato_telefone" class="form-control" placeholder="Celular" />
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <input id="contato_e_mail" class="form-control" placeholder="E-mail" />
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <textarea id="contato_mensagem" style="resize: none" rows="5" class="form-control" placeholder="Mensagem"></textarea>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group">
                    <button class="btn btn-secondary">Enviar</button>
                </div>
            </div>
        </div>
    </div>
</div>