@model gestaoContadorcomvc.Areas.Contabilidade.Models.ViewModel.vm_ContaContabil
@{
    Layout = null;
}
@{
    var plano = (gestaoContadorcomvc.Areas.Contabilidade.Models.PlanoContas)TempData["plano"];

    <div class="container">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Nova Conta Contábil</h4>
                </div>
                <form asp-area="Contabilidade" asp-controller="ContaContabil" asp-action="Create">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12">
                                <p><strong>Plano de Contas:</strong> @plano.plano_nome</p>
                            </div>
                        </div>
                        <hr class="hrLine" />
                        @{
                            <div class="row">
                                <input type="hidden" value="@plano.plano_id" name="plano_id" />
                                <div class="col-8">
                                    <div class="form-group">
                                        <label asp-for="ccontabil_classificacao" class="control-label"></label>
                                        <input asp-for="ccontabil_classificacao" class="form-control" autofocus onkeyup="nivelConta(this.value)" onblur="removeDot(this.value)" />
                                        <span asp-validation-for="ccontabil_classificacao" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group">
                                        <label asp-for="ccontabil_nivel" class="control-label"></label>
                                        <input asp-for="ccontabil_nivel" class="form-control" readonly="readonly" />
                                        <span asp-validation-for="ccontabil_nivel" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label asp-for="ccontabil_nome" class="control-label"></label>
                                        <input asp-for="ccontabil_nome" class="form-control" />
                                        <span asp-validation-for="ccontabil_nome" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label asp-for="ccontabil_apelido" class="control-label"></label>
                                        <input asp-for="ccontabil_apelido" class="form-control" />
                                        <span asp-validation-for="ccontabil_apelido" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label asp-for="ccontabil_natureza" class="control-label"></label>
                                        <select asp-items="@ViewBag.ccontabil_natureza" value="@TempData["ccontabil_natureza"]" id="ccontabil_natureza" name="ccontabil_natureza" class="form-control"></select>
                                        <span asp-validation-for="ccontabil_natureza" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-info">Gravar</button>
                    </div>
                </form>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
}

<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>