/*CSS criado no desenvolvimento*/
html,
body {
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
}
    a:hover {
        text-decoration: none;
    }

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

.bread {
    width: 100%;
    height: 35px;
    background-color: #ffe699;
    margin-bottom: 15px;
    /*border-bottom: 1px solid orange;*/
    position: fixed;
    top: 57px;
    user-select: none;
}

.bread_page {
    float: left;
    height: 35px;
    line-height: 35px;
    padding-left: 10px;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: darkblue;
}

.bread_menu {
    float: right;
    height: 35px;
    width: 32px;
    text-align: center;
    padding-top: 5px;
    cursor: pointer;
}
#bread_nome_cliente{
    display: none;
}

.drawer {
    width: 350px;
    height: 100vh;
    background-color: #ffe699;
    position: fixed;
    top: 92px;
    padding: 10px;
    box-shadow: -6px 0px 5px rgba(128, 128, 128, 0.5);
}
.cp {
    background-color: tomato;
    text-align: center;
}

.tableLine {
    overflow: hidden;
    border-collapse: separate;
    border: 1px solid #ccc;
    border-radius: 10px;
    
}
    .tableLine:hover {
        background-color: #ffe699;        
    }
.labelTable{    
    height: 90px;
    line-height: 90px;
    width: 25px;
    margin: 0 auto;
    cursor: pointer;
}

.listCompras{
    border: 1px solid black;
}

.hrLine {
    background-color: #ff4400;
}

.card-header {
    background-color: burlywood;
}

.box-accordion {
    width: 100%;
    height: auto;
    border: 1px solid #ff4400;
    margin-top: 10px;
    margin-bottom: 10px;
}

.box-accordion-titulo {
    width: 100%;
    height: 50px;
    background-color: #ff4400;
    font-family: sans-serif;
    font-size: 18px;
    line-height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    user-select: none;
}

.box-accordion-dados {
    width: 100%;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.form-check label {
    user-select: none;
    font-family: sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
    padding-left: 35px;
    cursor: pointer;
    display: block;
    position: relative;
}

    .form-check label::before {
        content: "";
        width: 22px;
        height: 22px;
        border: solid 1px #ff4400;
        display: inline-block;
        box-sizing: border-box;
        position: absolute;
        left: 0;
        top: -1.5px;
    }

    .form-check label::after {
        content: "";
        width: 16px;
        height: 16px;
        border: solid 1px #ff4400;
        display: inline-block;
        box-sizing: border-box;
        position: absolute;
        left: 3px;
        top: 1.5px;
    }

.form-check input[type="checkbox"] {
    display: none;
}

    .form-check input[type="checkbox"]:checked + label::after {
        background-color: #ff4400;
    }

/*Estilo LineList*/
.line-list {
    width: 100%;
    height: auto;
    float: left;
    display: flex;
    align-items: center;
    /*border: 1px solid #808080;*/
    border-radius: 5px;
    margin-bottom: 2px;
    user-select: none;
    background-color: #faf0cf;
}

    .line-list:hover {
        background-color: #d9d8d4;
    }

    .line-list svg {
        color: #ff4400;
    }
    .line-list row {
        width: calc(100% - 60px);
    }


.col-list-left {
    min-height: 30px;
    width: 30px;
    float: left;
    text-align: center;
}

.col-list-rigth {
    min-height: 30px;
    width: 30px;
    float: right;
    text-align: center;
    padding-bottom: 5px;
}

.col-list-body {
    min-height: 30px;
    width: calc(100% - 60px);
    float: left;
    padding: 5px;
}

.check-list-input {
    display: none;
}

.check-list-label {
    user-select: none;
    font-family: sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
    padding-left: 35px;
    cursor: pointer;
    display: block;
    position: relative;
}

    .check-list-label::before {
        content: "";
        width: 22px;
        height: 22px;
        border: solid 1px #ff4400;
        display: inline-block;
        box-sizing: border-box;
        position: absolute;
        left: 4px;
        top: 2.5px;
    }

    .check-list-label::after {
        content: "";
        width: 16px;
        height: 16px;
        border: solid 1px #ff4400;
        display: inline-block;
        box-sizing: border-box;
        position: absolute;
        left: 7px;
        top: 5.5px;
    }

.check-list-input:checked + label::after {
    background-color: #ff4400;
}

.icon-option {
    cursor: pointer;
}

    .icon-option:hover {
        cursor: pointer;
        color: orangered;
        font-weight: bold;
    }

.list-title-mobile {
    display: block;
}
.list-title-full {
    display: none;
}
.list-header {
    display: none;
}

.alert {
    position: fixed;
    top: 100px;
}

.btn-tools {
    width: 100%;
    height: 42px;
    line-height: 42px;
    border-radius: 5px;
    background-color: #cfd0d1;
    padding-left: 10px;
    padding-right: 10px;    
}
.btn-tools span{
    font-family: sans-serif;
    font-size: 18px;
    font-weight: 500;
}
.btn-tools svg{
    color: orangered;
}
    .btn-tools a {
        text-decoration: none;
        font-family: sans-serif;
        color: black;
        padding-right: 10px;
    }
    .btn-tools a span{
        font-size: 15px;
    }
/*Niveis das contas contábeis dos planos de contas do contador*/
.nivel_2 {
    padding-left: 15px;
}

.nivel_3 {
    padding-left: 15px;
}

.nivel_4 {
    padding-left: 15px;
}

.nivel_5 {
    padding-left: 15px;
}
.line_list_title_mobile{
    width: 100%;
    display: block;
    font-family: sans-serif;
    font-size: 12px;
}
.line_list_title_full {
    width: 100%;
    display: none;
}
/*Fim*/
/*Fim estilo LineList*/
/*Botão da tela index do controle contra corrente Fluxo de Caixa*/
.btn_fc {
    margin-bottom: 10px;
    width: 100%;
}
.saldo_inicial { /*Tela index do controle de conta corrente*/
    text-align: right;
    font-weight: bold;
}

@media (min-width: 768px) {
    /*Botão da tela index do controle contra corrente Fluxo de Caixa*/
    .btn_fc {
        margin-top: 32px;
        width: auto;
    }
    .saldo_inicial { /*Tela index do controle de conta corrente*/
        text-align: right;
        padding-right: 91px;
        font-weight: bold;
    }
    /*Niveis das contas contábeis dos planos de contas do contador*/
    .line_list_title_mobile {
        display: none;
    }
    .line_list_title_full {
        display: block;
    }
    .nivel_2 {
        padding-left: 20px;
    }

    .nivel_3 {
        padding-left: 25px;
    }

    .nivel_4 {
        padding-left: 30px;
    }

    .nivel_5 {
        padding-left: 35px;
    }
    /*Fim*/

    .alert {
        position: fixed;
        top: 100px;
    }

    #bread_nome_cliente {
        display: block;
    }
    .line-list {
        user-select: text;
        background-color: white;
    }
    .list-header {
        display: block;
        background-color: #d9d8d4; /*29/10/2020*/
    }
    .list-title-mobile {
        display: none;
    }
    .list-title-full {
        display: block;
    }

    .cp {
        background-color: tomato;
        text-align: center;
    }

    table {
        text-align: center;        
    }
        table thead {
            display: compact;
            background-color: #ffe699;            
        }
            table thead tr {
                border-radius: 15px;
            }
        tbody{
            font-weight: normal;
        }
    .cabecalho {
        display: block;
    }
        

}

@media print {
    @page {
        size: 330mm 427mm;
        margin: 14mm;
    }

    .no-printme {
        display: none;
    }

    .printme {
        display: block;
    }
}

