body {
    padding: 0px;
    margin: 0px;
}
.banner_1 {
    margin-top: 80px; 
    margin-bottom: 10px;
}
.banner_1 > img {
    max-height: 650px;
    width: 100%;
}

.card_body_segmentos{
    padding-left: 0px;
    padding-right: 0px;
}

#carouselExampleControls__ {
    position: absolute;
    left: 0;
    right: 0;
}
.menu {
    width: 100%;
    height: 80px;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 1200;
}
.logo {
    font-family: 'Segoe UI';       
}
.logo_m{
    display:none;
}
.barra {
    display: none;
    width: 5px;
    height: 80px;
    float: right;
    margin-left: 5px;
}
.barra_azul{
    width: 5px;
    height: 26.66px;
    background-color: rgb(6,0,64);
}
.barra_laranja {    
    width: 5px;
    height: 26.66px;
    background-color: rgb(255,68,0);
}
.logo_escrito {
    display: block;
    float: left;
    max-width: 240px;
    font-size: 130%;
}
.cvc {
    width: 100%;
    height: 30px;
    padding-top: 0px;
    float: left;
    text-align: center;
}
.tema {
    width: 100%;
    height: 20px;
    float: left;
    font-weight: 600;
    text-align: center;
    font-size: 68%;
}
.b_icon {
    width: 60px;
    color: rgb(6,0,64);
}
.b_titulo {
    color: rgb(6,0,64);
    font-weight:bold;
    font-size: 20px;
}
#site_img_01{
    height: 350px;
}
.s_box {
    border: solid 1px rgb(255,68,0);
    min-height: 250px;
    margin: 10px;
    padding: 10px;
}
.s_icon {    
    color: rgb(6,0,64);
    text-align: center;
    width: 100%;
}
    .s_icon > svg {
        width: 60px;
    }
.s_titulo {
    color: rgb(6,0,64);
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    width: 100%;
}
.s_texto {
    text-align: center;
    width: 100%;
}
.faixa_1 {
    width: 100%;
    height: auto;
    background-color: rgb(246,248,249);
    padding-top: 40px;
    padding-bottom: 30px;
}
.faixa_2 {
    width: 100%;
    height: auto;
    background-color: white;
    padding-top: 40px;
    padding-bottom: 30px;
}
.faixa_3 {
    width: 100%;
    height: auto;
    background-color: rgb(217,217,217);
    padding-top: 20px;
    padding-bottom: 30px;
    border-top: 1px solid rgb(6,0,64);
}
.faixa_4 {
    width: 100%;
    height: auto;
    background-color: rgb(217,217,217);
    border-top: 1px solid rgb(191,191,191);
}

.f_box {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}
.f_box_icon{
    width: 100px;
    float: left;
    text-align: center;
}
    .f_box_icon > svg {
        width: 68px;
    }
.f_box_cont {
    width: calc(100% - 100px);
    float: left;
    text-align: left;
}
.f_box_cont_titulo {
    color: rgb(6,0,64);
    font-weight: bold;
    font-size: 20px;
    padding-left: 10px;
}
.f_box_cont_texto{
    padding-left: 10px;
}
.b_box {
    width: 100%;
    height: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}
.card-header{
    background-color: rgb(255,230,153);
}

.pegunta_accordion_header {
    cursor: pointer;
    user-select: none;    
}

.pegunta_accordion_body {
    user-select: none;
}

.pegunta_accordion {
    color: black;
    font-size: 17px;
}

.contato_box {
    max-width: 500px;
    height: auto;    
    margin: 0 auto;
}

/*Rodapé*/
.r_logo{
    width: 100%;
    height: 85px;
}
.r_logo_fx_1 {
    width: 100%;
    height: 40px;
    text-align: center;
}
    .r_logo_fx_1 > strong{
        font-size: 23px;
    }

.r_logo_fx_2 {
    width: 100%;
    height: 45px;
    text-align: center;
}
    .r_logo_fx_2 > img{
        width: 100px;
    }

.r_logo_txt {
    width: 100%;
    height: auto;
    text-align: center;
}

.r_box_contato{
    width: 100%;
    text-align: center;
}
.r_box_titulo {
    width: 100%;
    font-weight: bold;
    text-align: center;
    color: rgb(6,0,64);
}
.r_box_icon > svg {
    width: 30px;
}
.r_line {
    border-top: 1px solid rgb(6,0,64);
    padding-top: 10px;
    padding-bottom: 10px;
}

.r_nav ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}
.r_nav ul li {
    display: inline;
    padding: 10px;
    cursor: pointer;
}
    .r_nav ul li:hover {
        color: rgb(255,68,0);
    }
.copyrigth {
    text-align: center;
    height: 40px;
    line-height: 40px;
}

.banner_2 {
    background-image: url('/Imagens/prestador_servico.png');
    background-position: left;
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    height: 500px;
}

.card_segmentos{
    margin-top: 80px;
}

.whatsapp_icon {
    width: 70px;
    height: 70px;    
    border-radius: 50%;
    position: fixed;
    bottom: 15px;
    right: 10px;
    /*box-shadow: 0 0 0 3px rgb(191,191,191);*/
}
    .whatsapp_icon > img {
        width: 70px;
        height: 70px;
        cursor: pointer;
    }

        .whatsapp_icon > img:hover {
            width: 80px;
            height: 80px;
        }

.w_box{
    width: 320px;
    height: auto;    
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border: 1px solid rgb(255,68,0);
    background-color: white;
    position: fixed;
    bottom: 81px;
    right: 10px;
    z-index: 5000;
}
.w_faixa{
    width: 100%;
    height: auto;        
}
.w_faixa_atendente {
    width: 100%;
    height: auto;
    float: left;
    margin-bottom: 15px;
}
.w_faixa_atendente_img {
    width: 30px;
    height: 30px;
    float: left;
    text-align: center;
}
    .w_faixa_atendente_img > svg{
        width: 30px;
        height: 30px;
    }
.w_faixa_atendente_nome {
    width: 250px;
    height: 30px;
    float: left;
    padding-left: 10px;
}
.w_dialogo{
    float:left;
    margin-left: 20px;
    width: 270px;
    background-color: rgb(191, 191, 191);
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
}
.w_form{
    width: 100%;
    height: auto;
    margin-top: 25px;
    float:left;
}
    .w_form > input {
        border: 1px solid rgb(128, 128, 128);
        border-radius: 5px;
        width: 100%;
        margin-bottom: 10px;
        padding: 5px;
    }
        .w_form > input:focus {
            box-shadow: 0 0 0 0.1rem rgb(255,68,0);
            outline: 0;
            border: 1px solid rgb(255,68,0);
        }

    .w_form > button {
        border: 1px solid rgb(128, 128, 128);
        border-radius: 5px;
        width: 100%;
        margin-bottom: 10px;
        padding: 5px;
    }

@media (min-width: 768px) {
    #site_img_01 {
    height: 500px;
    }
    /*Rodapé*/    
    .r_logo_fx_1 {        
        text-align: right;
    }

    .r_logo_fx_2 {
        text-align: right;
    }

    .r_logo_txt {        
        text-align: left;
    }
    .r_line{
        border-top: 0px;        
    }
}

@media (min-width: 992px) {
    .logo_escrito {
        display: none;
        float: left;
        max-width: 240px;
        font-size: 130%;
        display: block;
    }

    .cvc {
        width: 100%;
        height: 43px;
        padding-top: 15px;
        float: left;
        text-align: center;
    }

    .tema {
        width: 100%;
        height: 30px;
        float: left;
        font-weight: 600;
        text-align: center;
        font-size: 68%;
    }

    

    .barra {
        display: block;
    }

    .logo_m {
        display: none;
    }

    .navbar {
        height: 80px;
    }

        .navbar .container .brand,
        .navbar .nav > li > a {
            padding: 0 30px 0 30px;
        }

    #site_img_01 {
        height: 629px;
    }

    .banner_2{
        height: 650px;
    }



}