@model gestaoContadorcomvc.Areas.Contabilidade.Models.Error

<div class="alert alert-warning" role="alert">
    <h4 class="alert-heading">Desculpe!</h4>
    <p>Ocorreu uma falha na execução da rotina</p>
    <hr>
    <a asp-area="Contabilidade" asp-controller="@Model.controller" asp-action="@Model.action">Voltar</a>
</div>