@model gestaoContadorcomvc.Areas.Contabilidade.Models.ViewModel.Vm_home_contabilidade

@{
    ViewData["Title"] = "Home";
    Layout = "~/Areas/Contabilidade/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">  
        <h5>Olá @Model.user.usuario_nome, você está acessando a área do contador de @Model.user.conta.conta_nome</h5>
    </div>
</div>