@model gestaoContadorcomvc.Models.ViewModel.Vm_produtos
@{
    Layout = null;
}

<div class="container">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Confirmação de Esclusão</h4>
            </div>
            <div class="modal-body">
                <p>Confirme a exclusão do produto: </p>
                <p><strong>Nome: </strong>@Model.produtos_nome</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <form asp-controller="Produtos" asp-action="Delete">
                    <input type="hidden" value="@Model.produtos_id" name="produtos_id" />
                    <button type="submit" class="btn btn-info">Apagar</button>
                </form>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>