@model gestaoContadorcomvc.Models.ViewModel.Vm_usuario

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Gestão de usuários</h2>
<hr class="hrLine" />

@{
    if (TempData["novoUsuario"] != null && TempData["novoUsuario"].ToString().Contains("Erro"))
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert" id="Esconder">
            <strong>Erro!</strong> @TempData["novoUsuario"].ToString()
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
}

<form asp-controller="Usuario" asp-action="Create" id="form">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <fieldset>
        <legend>Dados do usuário</legend>
        <div class="row">
            <div class="col-md-12">
                <input type="hidden" asp-for="usuario_id" class="form-control" />
                <input type="hidden" asp-for="permissoes" id="inputPermissao" class="form-control" />
                <div class="row">
                    <div class="col-12 col-md-12">
                        <div class="form-group">
                            <label asp-for="usuario_nome" class="control-label"></label>
                            <input asp-for="usuario_nome" class="form-control" />
                            <span asp-validation-for="usuario_nome" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <div class="form-group">
                            <label asp-for="usuario_dcto" class="control-label"></label>
                            <input asp-for="usuario_dcto" class="form-control" />
                            <span asp-validation-for="usuario_dcto" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <label asp-for="usuario_email" class="control-label"></label>
                            <input asp-for="usuario_email" class="form-control" />
                            <span asp-validation-for="usuario_email" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <div class="form-group">
                            <label asp-for="usuario_user" class="control-label"></label>
                            <input asp-for="usuario_user" class="form-control" />
                            <span asp-validation-for="usuario_user" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="usuario_senha" class="control-label"></label>
                            <input type="password" asp-for="usuario_senha" class="form-control" />
                            <span asp-validation-for="usuario_senha" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="confirmaSenha" class="control-label"></label>
                            <input asp-for="confirmaSenha" type="password" id="confirmeSenhaUsuario" class="form-control" />
                            <span asp-validation-for="confirmaSenha" id="spanConfirmeSenhaUsuario" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Permissões</legend>

        <h6>Cadastros</h6>
        <hr class="hrLine" />
        <!--Cadastro Usuário-->
        <div class="row">
            <div class="col-12 col-md-3">
                <div class="row">
                    <div class="form-check">
                        <input class="form-check-input" asp-for="_permissoes.usuarioList" type="checkbox" id="usuarioList" onclick="checkPermissoes(this.id)">
                        <label class="form-check-label" for="usuarioList">Usuários</label>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-left: 30px;">
                <div class="col-md-4 col-12">
                    <div class="form-check form-check-inline" style="width: 20%;">
                        <input class="form-check-input" type="checkbox" asp-for="_permissoes.usuarioCreate" id="usuarioCreate" onclick="checkPermissoes(this.id)">
                        <label class="form-check-label" for="usuarioCreate">Incluir</label>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="form-check form-check-inline" style="width: 20%;">
                        <input class="form-check-input" type="checkbox" asp-for="_permissoes.usuarioEdit" id="usuarioEdit" onclick="checkPermissoes(this.id)">
                        <label class="form-check-label" for="usuarioEdit">Alterar</label>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="form-check form-check-inline" style="width: 20%;">
                        <input class="form-check-input" type="checkbox" asp-for="_permissoes.usuarioDelete" id="usuarioDelete" onclick="checkPermissoes(this.id)">
                        <label class="form-check-label" for="usuarioDelete">Apagar</label>
                    </div>
                </div>
            </div>
        </div>
        <!--Cadastro Categorias-->
        <div class="row">
            <div class="col-12 col-md-3">
                <div class="row">
                    <div class="form-check">
                        <input class="form-check-input" asp-for="_permissoes.categoriaList" type="checkbox" id="categoriaList" onclick="checkPermissoes(this.id)">
                        <label class="form-check-label" for="categoriaList">Categorias</label>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-left: 30px;">
                <div class="col-md-4 col-12">
                    <div class="form-check form-check-inline" style="width: 20%;">
                        <input class="form-check-input" type="checkbox" asp-for="_permissoes.categoriaCreate" id="categoriaCreate" onclick="checkPermissoes(this.id)">
                        <label class="form-check-label" for="categoriaCreate">Incluir</label>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="form-check form-check-inline" style="width: 20%;">
                        <input class="form-check-input" type="checkbox" asp-for="_permissoes.categoriaEdit" id="categoriaEdit" onclick="checkPermissoes(this.id)">
                        <label class="form-check-label" for="categoriaEdit">Alterar</label>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="form-check form-check-inline" style="width: 20%;">
                        <input class="form-check-input" type="checkbox" asp-for="_permissoes.categoriaDelete" id="categoriaDelete" onclick="checkPermissoes(this.id)">
                        <label class="form-check-label" for="categoriaDelete">Apagar</label>
                    </div>
                </div>
            </div>
        </div>
        <!--Conta Corrente-->
        <div class="row">
            <div class="col-12 col-md-3">
                <div class="row">
                    <div class="form-check">
                        <input class="form-check-input" asp-for="_permissoes.ccorrenteList" type="checkbox" id="ccorrenteList" onclick="checkPermissoes(this.id)">
                        <label class="form-check-label" for="ccorrenteList">Conta Corrente</label>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-left: 30px;">
                <div class="col-md-4 col-12">
                    <div class="form-check form-check-inline" style="width: 20%;">
                        <input class="form-check-input" type="checkbox" asp-for="_permissoes.ccorrenteCreate" id="ccorrenteCreate" onclick="checkPermissoes(this.id)">
                        <label class="form-check-label" for="ccorrenteCreate">Incluir</label>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="form-check form-check-inline" style="width: 20%;">
                        <input class="form-check-input" type="checkbox" asp-for="_permissoes.ccorrenteEdit" id="ccorrenteEdit" onclick="checkPermissoes(this.id)">
                        <label class="form-check-label" for="ccorrenteEdit">Alterar</label>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="form-check form-check-inline" style="width: 20%;">
                        <input class="form-check-input" type="checkbox" asp-for="_permissoes.ccorrenteDelete" id="ccorrenteDelete" onclick="checkPermissoes(this.id)">
                        <label class="form-check-label" for="ccorrenteDelete">Apagar</label>
                    </div>
                </div>
            </div>
        </div>
        <!--Forma de Pagamento-->
        <div class="row">
            <div class="col-12 col-md-3">
                <div class="row">
                    <div class="form-check">
                        <input class="form-check-input" asp-for="_permissoes.fpList" type="checkbox" id="fpList" onclick="checkPermissoes(this.id)">
                        <label class="form-check-label" for="fpList">Forma de Pagamento</label>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-left: 30px;">
                <div class="col-md-4 col-12">
                    <div class="form-check form-check-inline" style="width: 20%;">
                        <input class="form-check-input" type="checkbox" asp-for="_permissoes.fpCreate" id="fpCreate" onclick="checkPermissoes(this.id)">
                        <label class="form-check-label" for="fpCreate">Incluir</label>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="form-check form-check-inline" style="width: 20%;">
                        <input class="form-check-input" type="checkbox" asp-for="_permissoes.fpEdit" id="fpEdit" onclick="checkPermissoes(this.id)">
                        <label class="form-check-label" for="fpEdit">Alterar</label>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="form-check form-check-inline" style="width: 20%;">
                        <input class="form-check-input" type="checkbox" asp-for="_permissoes.fpDelete" id="fpDelete" onclick="checkPermissoes(this.id)">
                        <label class="form-check-label" for="fpDelete">Apagar</label>
                    </div>
                </div>
            </div>
        </div>
        <!--Memorando-->
        <div class="row">
            <div class="col-12 col-md-3">
                <div class="row">
                    <div class="form-check">
                        <input class="form-check-input" asp-for="_permissoes.memorandoList" type="checkbox" id="memorandoList" onclick="checkPermissoes(this.id)">
                        <label class="form-check-label" for="memorandoList">Memorando</label>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-left: 30px;">
                <div class="col-md-4 col-12">
                    <div class="form-check form-check-inline" style="width: 20%;">
                        <input class="form-check-input" type="checkbox" asp-for="_permissoes.memorandoCreate" id="memorandoCreate" onclick="checkPermissoes(this.id)">
                        <label class="form-check-label" for="memorandoCreate">Incluir</label>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="form-check form-check-inline" style="width: 20%;">
                        <input class="form-check-input" type="checkbox" asp-for="_permissoes.memorandoEdit" id="memorandoEdit" onclick="checkPermissoes(this.id)">
                        <label class="form-check-label" for="memorandoEdit">Alterar</label>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="form-check form-check-inline" style="width: 20%;">
                        <input class="form-check-input" type="checkbox" asp-for="_permissoes.memorandoDelete" id="memorandoDelete" onclick="checkPermissoes(this.id)">
                        <label class="form-check-label" for="memorandoDelete">Apagar</label>
                    </div>
                </div>
            </div>
        </div>
        <!--Participante-->
        <div class="row">
            <div class="col-12 col-md-3">
                <div class="row">
                    <div class="form-check">
                        <input class="form-check-input" asp-for="_permissoes.participanteList" type="checkbox" id="participanteList" onclick="checkPermissoes(this.id)">
                        <label class="form-check-label" for="participanteList">Participante</label>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-left: 30px;">
                <div class="col-md-4 col-12">
                    <div class="form-check form-check-inline" style="width: 20%;">
                        <input class="form-check-input" type="checkbox" asp-for="_permissoes.participanteCreate" id="participanteCreate" onclick="checkPermissoes(this.id)">
                        <label class="form-check-label" for="participanteCreate">Incluir</label>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="form-check form-check-inline" style="width: 20%;">
                        <input class="form-check-input" type="checkbox" asp-for="_permissoes.participanteEdit" id="participanteEdit" onclick="checkPermissoes(this.id)">
                        <label class="form-check-label" for="participanteEdit">Alterar</label>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="form-check form-check-inline" style="width: 20%;">
                        <input class="form-check-input" type="checkbox" asp-for="_permissoes.participanteDelete" id="participanteDelete" onclick="checkPermissoes(this.id)">
                        <label class="form-check-label" for="participanteDelete">Apagar</label>
                    </div>
                </div>
            </div>
        </div>
        <!--Produtos-->
        <div class="row">
            <div class="col-12 col-md-3">
                <div class="row">
                    <div class="form-check">
                        <input class="form-check-input" asp-for="_permissoes.produtosList" type="checkbox" id="produtosList" onclick="checkPermissoes(this.id)">
                        <label class="form-check-label" for="produtosList">Produtos</label>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-left: 30px;">
                <div class="col-md-4 col-12">
                    <div class="form-check form-check-inline" style="width: 20%;">
                        <input class="form-check-input" type="checkbox" asp-for="_permissoes.produtosCreate" id="produtosCreate" onclick="checkPermissoes(this.id)">
                        <label class="form-check-label" for="produtosCreate">Incluir</label>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="form-check form-check-inline" style="width: 20%;">
                        <input class="form-check-input" type="checkbox" asp-for="_permissoes.produtosEdit" id="produtosEdit" onclick="checkPermissoes(this.id)">
                        <label class="form-check-label" for="produtosEdit">Alterar</label>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="form-check form-check-inline" style="width: 20%;">
                        <input class="form-check-input" type="checkbox" asp-for="_permissoes.produtosDelete" id="produtosDelete" onclick="checkPermissoes(this.id)">
                        <label class="form-check-label" for="produtosDelete">Apagar</label>
                    </div>
                </div>
            </div>
        </div>
        <!--Lançamento-->
        <h6>Lançamento</h6>
        <hr class="hrLine" />
        <!--Operação-->
        <div class="row">
            <div class="col-12 col-md-3">
                <div class="row">
                    <div class="form-check">
                        <input class="form-check-input" asp-for="_permissoes.operacaoList" type="checkbox" id="operacaoList" onclick="checkPermissoes(this.id)">
                        <label class="form-check-label" for="operacaoList">Operação</label>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-left: 30px;">
                <div class="col-md-4 col-12">
                    <div class="form-check form-check-inline" style="width: 20%;">
                        <input class="form-check-input" type="checkbox" asp-for="_permissoes.operacaoCreate" id="operacaoCreate" onclick="checkPermissoes(this.id)">
                        <label class="form-check-label" for="operacaoCreate">Incluir</label>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="form-check form-check-inline" style="width: 20%;">
                        <input class="form-check-input" type="checkbox" asp-for="_permissoes.operacaoEdit" id="operacaoEdit" onclick="checkPermissoes(this.id)">
                        <label class="form-check-label" for="operacaoEdit">Alterar</label>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="form-check form-check-inline" style="width: 20%;">
                        <input class="form-check-input" type="checkbox" asp-for="_permissoes.operacaoDelete" id="operacaoDelete" onclick="checkPermissoes(this.id)">
                        <label class="form-check-label" for="operacaoDelete">Apagar</label>
                    </div>
                </div>
            </div>
        </div>
        <!--Conta Corrente Movimento-->
        <div class="row">
            <div class="col-12 col-md-3">
                <div class="row">
                    <div class="form-check">
                        <input class="form-check-input" asp-for="_permissoes.CCMList" type="checkbox" id="CCMList" onclick="checkPermissoes(this.id)">
                        <label class="form-check-label" for="CCMList">Movimento Conta Corrente</label>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-left: 30px;">
                <div class="col-md-4 col-12">
                    <div class="form-check form-check-inline" style="width: 20%;">
                        <input class="form-check-input" type="checkbox" asp-for="_permissoes.CCMCreate" id="CCMCreate" onclick="checkPermissoes(this.id)">
                        <label class="form-check-label" for="CCMCreate">Incluir</label>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="form-check form-check-inline" style="width: 20%;">
                        <input class="form-check-input" type="checkbox" asp-for="_permissoes.CCMEdit" id="CCMEdit" onclick="checkPermissoes(this.id)">
                        <label class="form-check-label" for="CCMEdit">Alterar</label>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="form-check form-check-inline" style="width: 20%;">
                        <input class="form-check-input" type="checkbox" asp-for="_permissoes.CCMDelete" id="CCMDelete" onclick="checkPermissoes(this.id)">
                        <label class="form-check-label" for="CCMDelete">Apagar</label>
                    </div>
                </div>
            </div>
        </div>
        <!--Contas Financeiras-->
        <!--<div class="row">
        <div class="col-12 col-md-3">
            <div class="row">
                <div class="form-check">
                    <input class="form-check-input" asp-for="_permissoes.contasFList" type="checkbox" id="contasFList" onclick="checkPermissoes(this.id)">
                    <label class="form-check-label" for="contasFList">Contas Financeiras</label>
                </div>
            </div>
        </div>
        <div class="row" style="padding-left: 30px;">
            <div class="col-md-4 col-12">
                <div class="form-check form-check-inline" style="width: 20%;">
                    <input class="form-check-input" type="checkbox" asp-for="_permissoes.contasFCreate" id="contasFCreate" onclick="checkPermissoes(this.id)">
                    <label class="form-check-label" for="contasFCreate">Incluir</label>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="form-check form-check-inline" style="width: 20%;">
                    <input class="form-check-input" type="checkbox" asp-for="_permissoes.contasFEdit" id="contasFEdit" onclick="checkPermissoes(this.id)">
                    <label class="form-check-label" for="contasFEdit">Alterar</label>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="form-check form-check-inline" style="width: 20%;">
                    <input class="form-check-input" type="checkbox" asp-for="_permissoes.contasFDelete" id="contasFDelete" onclick="checkPermissoes(this.id)">
                    <label class="form-check-label" for="contasFDelete">Apagar</label>
                </div>
            </div>
        </div>
    </div>-->
        <!--Controle-->
        <h6>Controle</h6>
        <hr class="hrLine" />
        <!--Contas a Pagar-->
        <div class="row">
            <div class="col-12 col-md-3">
                <div class="row">
                    <div class="form-check">
                        <input class="form-check-input" asp-for="_permissoes.ContasPList" type="checkbox" id="ContasPList" onclick="checkPermissoes(this.id)">
                        <label class="form-check-label" for="ContasPList">Contas a Pagar</label>
                    </div>
                </div>
            </div>
        </div>
        <!--Contas a Receber-->
        <div class="row">
            <div class="col-12 col-md-3">
                <div class="row">
                    <div class="form-check">
                        <input class="form-check-input" asp-for="_permissoes.ContasRList" type="checkbox" id="ContasRList" onclick="checkPermissoes(this.id)">
                        <label class="form-check-label" for="ContasRList">Contas a Receber</label>
                    </div>
                </div>
            </div>
        </div>
        <!--Baixas-->
        <div class="row">
            <div class="col-12 col-md-3">
                <div class="row">
                    <div class="form-check">
                        <input class="form-check-input" asp-for="_permissoes.baixaList" type="checkbox" id="baixaList" onclick="checkPermissoes(this.id)">
                        <label class="form-check-label" for="baixaList">Baixa (Pgtos/Receb.)</label>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-left: 30px;">
                <div class="col-md-4 col-12">
                    <div class="form-check form-check-inline" style="width: 20%;">
                        <input class="form-check-input" type="checkbox" asp-for="_permissoes.baixaCreate" id="baixaCreate" onclick="checkPermissoes(this.id)">
                        <label class="form-check-label" for="baixaCreate">Incluir</label>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="form-check form-check-inline" style="width: 20%;">
                        <input class="form-check-input" type="checkbox" asp-for="_permissoes.baixaEdit" id="baixaEdit" onclick="checkPermissoes(this.id)">
                        <label class="form-check-label" for="baixaEdit">Alterar</label>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="form-check form-check-inline" style="width: 20%;">
                        <input class="form-check-input" type="checkbox" asp-for="_permissoes.baixaDelete" id="baixaDelete" onclick="checkPermissoes(this.id)">
                        <label class="form-check-label" for="baixaDelete">Apagar</label>
                    </div>
                </div>
            </div>
        </div>
        <!--Controle Cartão-->
        <div class="row">
            <div class="col-12 col-md-3">
                <div class="row">
                    <div class="form-check">
                        <input class="form-check-input" asp-for="_permissoes.cartaoCreditoList" type="checkbox" id="cartaoCreditoList" onclick="checkPermissoes(this.id)">
                        <label class="form-check-label" for="cartaoCreditoList">Cartão de Crédito</label>
                    </div>
                </div>
            </div>
            <div class="row" style="padding-left: 30px;">
                <div class="col-md-4 col-12">
                    <div class="form-check form-check-inline" style="width: 20%;">
                        <input class="form-check-input" type="checkbox" asp-for="_permissoes.cartaoCreditoCreate" id="cartaoCreditoCreate" onclick="checkPermissoes(this.id)">
                        <label class="form-check-label" for="cartaoCreditoCreate">Incluir</label>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="form-check form-check-inline" style="width: 20%;">
                        <input class="form-check-input" type="checkbox" asp-for="_permissoes.cartaoCreditoEdit" id="cartaoCreditoEdit" onclick="checkPermissoes(this.id)">
                        <label class="form-check-label" for="cartaoCreditoEdit">Alterar</label>
                    </div>
                </div>
                <div class="col-md-4 col-12">
                    <div class="form-check form-check-inline" style="width: 20%;">
                        <input class="form-check-input" type="checkbox" asp-for="_permissoes.cartaoCreditoDelete" id="cartaoCreditoDelete" onclick="checkPermissoes(this.id)">
                        <label class="form-check-label" for="cartaoCreditoDelete">Apagar</label>
                    </div>
                </div>
            </div>
        </div>

        <!--Relatórios-->
        <h6>Relatórios</h6>
        <hr class="hrLine" />
        <!--Relatório por categoria-->
        <div class="row">
            <div class="col-12 col-md-3">
                <div class="row">
                    <div class="form-check">
                        <input class="form-check-input" asp-for="_permissoes.rCategoriasList" type="checkbox" id="rCategoriasList" onclick="checkPermissoes(this.id)">
                        <label class="form-check-label" for="rCategoriasList">Rel. Financeiro Anual</label>
                    </div>
                </div>
            </div>
        </div>
        <!--Relatório financiero por período-->
        <div class="row">
            <div class="col-12 col-md-3">
                <div class="row">
                    <div class="form-check">
                        <input class="form-check-input" asp-for="_permissoes.rfm" type="checkbox" id="rfm" onclick="checkPermissoes(this.id)">
                        <label class="form-check-label" for="rfm">Rel. Financeiro Período</label>
                    </div>
                </div>
            </div>
        </div>
        <!--Relatório Participante Anual-->
        <div class="row">
            <div class="col-12 col-md-3">
                <div class="row">
                    <div class="form-check">
                        <input class="form-check-input" asp-for="_permissoes.rpList" type="checkbox" id="rpList" onclick="checkPermissoes(this.id)">
                        <label class="form-check-label" for="rpList">Rel. Participante Anual</label>
                    </div>
                </div>
            </div>
        </div>

        <!--Configurações-->
        <h6>Configurações</h6>
        <hr class="hrLine" />
        <!--Cadastro Configurações-->
        <div class="row">
            <div class="col-12 col-md-12">
                <div class="row">
                    <div class="form-check">
                        <input class="form-check-input" asp-for="_permissoes.config" type="checkbox" id="config" onclick="checkPermissoes(this.id)">
                        <label class="form-check-label" for="config">Configurações</label>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12">
                <div class="row">
                    <div class="form-check">
                        <input class="form-check-input" asp-for="_permissoes.configContabilidade" type="checkbox" id="configContabilidade" onclick="checkPermissoes(this.id)">
                        <label class="form-check-label" for="configContabilidade">Configurações Contabilidade</label>
                    </div>
                </div>
            </div>
        </div>
        <br />

        @{
            if (Model.conta.conta_tipo == "Contabilidade")
            {
                <legend>Permissões Área Contabilidade</legend>
                <h6>Cadastros</h6>
                <hr class="hrLine" />
                <!--Cadastro Plano Contas-->
                <div class="row">
                    <div class="col-12 col-md-3">
                        <div class="row">
                            <div class="form-check">
                                <input class="form-check-input" asp-for="_permissoes.planoContasList" type="checkbox" id="planoContasList" onclick="checkPermissoes(this.id)">
                                <label class="form-check-label" for="planoContasList">Plano de Contas</label>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-left: 30px;">
                        <div class="col-md-4 col-12">
                            <div class="form-check form-check-inline" style="width: 20%;">
                                <input class="form-check-input" type="checkbox" asp-for="_permissoes.planoContasCreate" id="planoContasCreate" onclick="checkPermissoes(this.id)">
                                <label class="form-check-label" for="planoContasCreate">Incluir</label>
                            </div>
                        </div>
                        <div class="col-md-4 col-12">
                            <div class="form-check form-check-inline" style="width: 20%;">
                                <input class="form-check-input" type="checkbox" asp-for="_permissoes.planoContasEdit" id="planoContasEdit" onclick="checkPermissoes(this.id)">
                                <label class="form-check-label" for="planoContasEdit">Alterar</label>
                            </div>
                        </div>
                        <div class="col-md-4 col-12">
                            <div class="form-check form-check-inline" style="width: 20%;">
                                <input class="form-check-input" type="checkbox" asp-for="_permissoes.planoContasDelete" id="planoContasDelete" onclick="checkPermissoes(this.id)">
                                <label class="form-check-label" for="planoContasDelete">Apagar</label>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Cadastro Plano Categorias-->
                <div class="row">
                    <div class="col-12 col-md-3">
                        <div class="row">
                            <div class="form-check">
                                <input class="form-check-input" asp-for="_permissoes.planoCategoriasList" type="checkbox" id="planoCategoriasList" onclick="checkPermissoes(this.id)">
                                <label class="form-check-label" for="planoCategoriasList">Plano de Categorias</label>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-left: 30px;">
                        <div class="col-md-4 col-12">
                            <div class="form-check form-check-inline" style="width: 20%;">
                                <input class="form-check-input" type="checkbox" asp-for="_permissoes.planoCategoriasCreate" id="planoCategoriasCreate" onclick="checkPermissoes(this.id)">
                                <label class="form-check-label" for="planoCategoriasCreate">Incluir</label>
                            </div>
                        </div>
                        <div class="col-md-4 col-12">
                            <div class="form-check form-check-inline" style="width: 20%;">
                                <input class="form-check-input" type="checkbox" asp-for="_permissoes.planoCategoriasEdit" id="planoCategoriasEdit" onclick="checkPermissoes(this.id)">
                                <label class="form-check-label" for="planoCategoriasEdit">Alterar</label>
                            </div>
                        </div>
                        <div class="col-md-4 col-12">
                            <div class="form-check form-check-inline" style="width: 20%;">
                                <input class="form-check-input" type="checkbox" asp-for="_permissoes.planoCategoriasDelete" id="planoCategoriasDelete" onclick="checkPermissoes(this.id)">
                                <label class="form-check-label" for="planoCategoriasDelete">Apagar</label>
                            </div>
                        </div>
                    </div>
                </div>

                <h6>Clientes</h6>
                <hr class="hrLine" />
                <!--Cadastro Clientes-->
                <div class="row">
                    <div class="col-12 col-md-3">
                        <div class="row">
                            <div class="form-check">
                                <input class="form-check-input" asp-for="_permissoes.clienteConfigList" type="checkbox" id="clienteConfigList" onclick="checkPermissoes(this.id)">
                                <label class="form-check-label" for="clienteConfigList">Configurações do Cliente</label>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-left: 30px;">
                        <div class="col-md-6 col-12">
                            <div class="form-check form-check-inline" style="width: 20%;">
                                <input class="form-check-input" type="checkbox" asp-for="_permissoes.clienteConfigCreate" id="clienteConfigCreate" onclick="checkPermissoes(this.id)">
                                <label class="form-check-label" for="clienteConfigCreate">Incluir</label>
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="form-check form-check-inline" style="width: 20%;">
                                <input class="form-check-input" type="checkbox" asp-for="_permissoes.clienteConfigEdit" id="clienteConfigEdit" onclick="checkPermissoes(this.id)">
                                <label class="form-check-label" for="clienteConfigEdit">Alterar</label>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Cliente: Categorias-->
                <div class="row">
                    <div class="col-12 col-md-3">
                        <div class="row">
                            <div class="form-check">
                                <input class="form-check-input" asp-for="_permissoes.clienteCategoriasList" type="checkbox" id="clienteCategoriasList" onclick="checkPermissoes(this.id)">
                                <label class="form-check-label" for="clienteCategoriasList">Categorias do Cliente</label>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-left: 30px;">
                        <div class="col-md-3 col-12">
                            <div class="form-check form-check-inline" style="width: 20%;">
                                <input class="form-check-input" type="checkbox" asp-for="_permissoes.clienteCategoriasCreate" id="clienteCategoriasCreate" onclick="checkPermissoes(this.id)">
                                <label class="form-check-label" for="clienteCategoriasCreate">Incluir</label>
                            </div>
                        </div>
                        <div class="col-md-3 col-12">
                            <div class="form-check form-check-inline" style="width: 20%;">
                                <input class="form-check-input" type="checkbox" asp-for="_permissoes.clienteCategoriasEdit" id="clienteCategoriasEdit" onclick="checkPermissoes(this.id)">
                                <label class="form-check-label" for="clienteCategoriasEdit">Alterar</label>
                            </div>
                        </div>
                        <div class="col-md-3 col-12">
                            <div class="form-check form-check-inline" style="width: 20%;">
                                <input class="form-check-input" type="checkbox" asp-for="_permissoes.clienteCategoriasDelete" id="clienteCategoriasDelete" onclick="checkPermissoes(this.id)">
                                <label class="form-check-label" for="clienteCategoriasDelete">Apagar</label>
                            </div>
                        </div>
                        <div class="col-md-3 col-12">
                            <div class="form-check form-check-inline" style="width: 20%;">
                                <input class="form-check-input" type="checkbox" asp-for="_permissoes.clienteCopiaPlano" id="clienteCopiaPlano" onclick="checkPermissoes(this.id)">
                                <label class="form-check-label" for="clienteCopiaPlano">Cópia</label>
                            </div>
                        </div>
                    </div>
                </div>
                <h6>SCI</h6>
                <hr class="hrLine" />
                <!--Importação de duplicatas-->
                <div class="row">
                    <div class="col-12 col-md-3">
                        <div class="row">
                            <div class="form-check">
                                <input class="form-check-input" asp-for="_permissoes.SCI_id" type="checkbox" id="SCI_id" onclick="checkPermissoes(this.id)">
                                <label class="form-check-label" for="SCI_id">Importação Duplicatas</label>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Importação de lançamentos contábeis-->
                <div class="row">
                    <div class="col-12 col-md-3">
                        <div class="row">
                            <div class="form-check">
                                <input class="form-check-input" asp-for="_permissoes.SCI_ilc" type="checkbox" id="SCI_ilc" onclick="checkPermissoes(this.id)">
                                <label class="form-check-label" for="SCI_ilc">Importação Lançamentos Contábeis</label>
                            </div>
                        </div>
                    </div>
                </div>
                <h6>Outros</h6>
                <hr class="hrLine" />
                <!--Acesso área empresa-->
                <div class="row">
                    <div class="col-12 col-md-3">
                        <div class="row">
                            <div class="form-check">
                                <input class="form-check-input" asp-for="_permissoes.area_empresa_contador" type="checkbox" id="area_empresa_contador" onclick="checkPermissoes(this.id)">
                                <label class="form-check-label" for="area_empresa_contador">Gestão Escritório</label>
                            </div>
                        </div>
                    </div>
                </div>
            }
        }

    </fieldset>
    <br />

    <button type="submit" class="btn btn-info" id="sub_form" onclick="blockSubmit(this.id,'form')">Gravar</button>
    <a class="btn btn-secondary" asp-controller="Usuario" asp-action="Index">Cancelar</a>
    <br /><span class="text-info" id="msg_blockSubmit"></span>
</form>

<script>
    $(document).ready(function () {
        $('#Esconder').delay(3000).fadeOut();
    });
</script>


<script src="~/js/user.js"></script>

@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}