@model gestaoContadorcomvc.Models.Autenticacao.Usuario

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .hrLine {
    background-color: #ff4400;
    }
    .card-header{
        background-color: burlywood;
    }
</style>

<h2>Gestão de usuários</h2>
<hr class="hrLine" />

<fieldset>
    <legend>Dados do usuário</legend>
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="usuario_id" class="form-control" />
                <div class="row">
                    <div class="col-12 col-md-12">
                        <div class="form-group">
                            <label asp-for="usuario_nome" class="control-label"></label>
                            <input asp-for="usuario_nome" class="form-control" />
                            <span asp-validation-for="usuario_nome" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <div class="form-group">
                            <label asp-for="usuario_dcto" class="control-label"></label>
                            <input asp-for="usuario_dcto" class="form-control" />
                            <span asp-validation-for="usuario_dcto" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <label asp-for="usuario_email" class="control-label"></label>
                            <input asp-for="usuario_email" class="form-control" />
                            <span asp-validation-for="usuario_email" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</fieldset>
<fieldset>
    <legend>Permissões</legend>
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Cadastro
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <!--Cadastro Usuário-->
                    <div class="row" style="        margin-top: 10px;
">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                                Usuário
                            </label>
                        </div>
                    </div>
                    <div class="row" style="padding-left: 30px;">
                        <div class="col-md-4 col-12">
                            <div class="form-check form-check-inline" style="width: 20%;">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                <label class="form-check-label" for="inlineCheckbox1">Incluir</label>
                            </div>
                        </div>
                        <div class="col-md-4 col-12">
                            <div class="form-check form-check-inline" style="width: 20%;">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option1">
                                <label class="form-check-label" for="inlineCheckbox2">Alterar</label>
                            </div>
                        </div>
                        <div class="col-md-4 col-12">
                            <div class="form-check form-check-inline" style="width: 20%;">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option1">
                                <label class="form-check-label" for="inlineCheckbox3">Apagar</label>
                            </div>
                        </div>
                    </div>
                    <!---->
                    <!--Cadastro Categoria-->
                    <div class="row" style="margin-top: 10px;">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                                Categoria
                            </label>
                        </div>
                    </div>
                    <div class="row" style="padding-left: 30px;">
                        <div class="col-md-4 col-12">
                            <div class="form-check form-check-inline" style="width: 20%;">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                <label class="form-check-label" for="inlineCheckbox1">Incluir</label>
                            </div>
                        </div>
                        <div class="col-md-4 col-12">
                            <div class="form-check form-check-inline" style="width: 20%;">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option1">
                                <label class="form-check-label" for="inlineCheckbox2">Alterar</label>
                            </div>
                        </div>
                        <div class="col-md-4 col-12">
                            <div class="form-check form-check-inline" style="width: 20%;">
                                <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="option1">
                                <label class="form-check-label" for="inlineCheckbox3">Apagar</label>
                            </div>
                        </div>
                    </div>
                    <!---->

                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Lançamento
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Controle
                    </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="heading4">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                        Relatórios
                    </button>
                </h5>
            </div>
            <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordion">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>
    </div>
</fieldset>