@model gestaoContadorcomvc.Models.ViewModel.Vm_usuario

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Gestão de usuários</h2>
<hr class="hrLine" />

@{
    if (TempData["editUsuario"] != null && TempData["editUsuario"].ToString().Contains("Erro"))
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert" id="Esconder">
            <strong>Erro!</strong> @TempData["editUsuario"].ToString()
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
}


<form asp-controller="Usuario" asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <fieldset>
        <legend>Dados do usuário</legend>
        <div class="row">
            <div class="col-md-12">
                <input type="hidden" asp-for="usuario_id" class="form-control" />
                <input type="hidden" asp-for="permissoes" id="inputPermissao" class="form-control" />
                <div class="row">
                    <div class="col-12 col-md-12">
                        <div class="form-group">
                            <label asp-for="usuario_nome" class="control-label"></label>
                            <input asp-for="usuario_nome" class="form-control" />
                            <span asp-validation-for="usuario_nome" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <div class="form-group">
                            <label asp-for="usuario_dcto" class="control-label"></label>
                            <input asp-for="usuario_dcto" class="form-control" />
                            <span asp-validation-for="usuario_dcto" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <label asp-for="usuario_email" class="control-label"></label>
                            <input asp-for="usuario_email" class="form-control" />
                            <span asp-validation-for="usuario_email" class="text-danger"></span>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>Permissões</legend>
        <div class="box-accordion">
            <div class="box-accordion-titulo" id="boxPermissoesCadastro" onclick="boxAccordionToggle(this.id)">
                Cadastro
            </div>
            <div class="box-accordion-dados">
                <!--Cadastro Usuário-->
                <div class="row">
                    <div class="col-12 col-md-3">
                        <div class="row">
                            <div class="form-check">
                                @{
                                    if (Model.permissoes.Contains("usuarioList"))
                                    {
                                        <input class="form-check-input" type="checkbox" value="usuarioList" id="usuarioList" onclick="checkPermissoes(this.id)" checked="checked">
                                        <label class="form-check-label" for="usuarioList">Usuários</label>
                                    }
                                    else
                                    {
                                        <input class="form-check-input" type="checkbox" value="usuarioList" id="usuarioList" onclick="checkPermissoes(this.id)">
                                        <label class="form-check-label" for="usuarioList">Usuários</label>
                                    }
                                }

                            </div>
                        </div>
                    </div>                    
                    <div class="row" style="padding-left: 30px;">
                        <div class="col-md-4 col-12">
                            <div class="form-check form-check-inline" style="width: 20%;">
                                @{
                                    if (Model.permissoes.Contains("usuarioInsert"))
                                    {
                                        <input class="form-check-input" type="checkbox" id="usuarioInsert" value="usuarioInsert" onclick="checkPermissoes(this.id)" checked="checked">
                                        <label class="form-check-label" for="usuarioInsert">Incluir</label>
                                    }
                                    else
                                    {
                                        <input class="form-check-input" type="checkbox" id="usuarioInsert" value="usuarioInsert" onclick="checkPermissoes(this.id)">
                                        <label class="form-check-label" for="usuarioInsert">Incluir</label>
                                    }
                                }
                            </div>
                        </div>
                        <div class="col-md-4 col-12">
                            <div class="form-check form-check-inline" style="width: 20%;">
                                @{
                                    if (Model.permissoes.Contains("usuarioEdit"))
                                    {
                                        <input class="form-check-input" type="checkbox" id="usuarioEdit" value="usuarioEdit" onclick="checkPermissoes(this.id)" checked="checked">
                                        <label class="form-check-label" for="usuarioEdit">Alterar</label>
                                    }
                                    else
                                    {
                                        <input class="form-check-input" type="checkbox" id="usuarioEdit" value="usuarioEdit" onclick="checkPermissoes(this.id)">
                                        <label class="form-check-label" for="usuarioEdit">Alterar</label>
                                    }
                                }

                            </div>
                        </div>
                        <div class="col-md-4 col-12">
                            <div class="form-check form-check-inline" style="width: 20%;">
                                @{
                                    if (Model.permissoes.Contains("usuarioDelete"))
                                    {
                                        <input class="form-check-input" type="checkbox" id="usuarioDelete" value="usuarioDelete" onclick="checkPermissoes(this.id)" checked="checked">
                                        <label class="form-check-label" for="usuarioDelete">Apagar</label>
                                    }
                                    else
                                    {
                                        <input class="form-check-input" type="checkbox" id="usuarioDelete" value="usuarioDelete" onclick="checkPermissoes(this.id)">
                                        <label class="form-check-label" for="usuarioDelete">Apagar</label>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
                    <!--Cadastro Categorias-->
                <div class="row">
                    <div class="col-12 col-md-3">
                        <div class="row">

                            <div class="form-check">
                                @{
                                    if (Model.permissoes.Contains("categoriaList"))
                                    {
                                        <input class="form-check-input" type="checkbox" value="categoriaList" id="categoriaList" onclick="checkPermissoes(this.id)" checked="checked">
                                        <label class="form-check-label" for="categoriaList">Categorias</label>
                                    }
                                    else
                                    {
                                        <input class="form-check-input" type="checkbox" value="categoriaList" id="categoriaList" onclick="checkPermissoes(this.id)">
                                        <label class="form-check-label" for="categoriaList">Categorias</label>
                                    }
                                }

                            </div>
                        </div>
                    </div>                        
                        <div class="row" style="padding-left: 30px;">
                            <div class="col-md-4 col-12">
                                <div class="form-check form-check-inline" style="width: 20%;">
                                    @{
                                        if (Model.permissoes.Contains("categoriaCreate"))
                                        {
                                            <input class="form-check-input" type="checkbox" id="categoriaCreate" value="categoriaCreate" onclick="checkPermissoes(this.id)" checked="checked">
                                            <label class="form-check-label" for="categoriaCreate">Incluir</label>
                                        }
                                        else
                                        {
                                            <input class="form-check-input" type="checkbox" id="categoriaCreate" value="categoriaCreate" onclick="checkPermissoes(this.id)">
                                            <label class="form-check-label" for="categoriaCreate">Incluir</label>
                                        }
                                    }
                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <div class="form-check form-check-inline" style="width: 20%;">
                                    @{
                                        if (Model.permissoes.Contains("categoriaEdit"))
                                        {
                                            <input class="form-check-input" type="checkbox" id="categoriaEdit" value="categoriaEdit" onclick="checkPermissoes(this.id)" checked="checked">
                                            <label class="form-check-label" for="categoriaEdit">Alterar</label>
                                        }
                                        else
                                        {
                                            <input class="form-check-input" type="checkbox" id="categoriaEdit" value="categoriaEdit" onclick="checkPermissoes(this.id)">
                                            <label class="form-check-label" for="categoriaEdit">Alterar</label>
                                        }
                                    }

                                </div>
                            </div>
                            <div class="col-md-4 col-12">
                                <div class="form-check form-check-inline" style="width: 20%;">
                                    @{
                                        if (Model.permissoes.Contains("categoriaDelete"))
                                        {
                                            <input class="form-check-input" type="checkbox" id="categoriaDelete" value="categoriaDelete" onclick="checkPermissoes(this.id)" checked="checked">
                                            <label class="form-check-label" for="categoriaDelete">Apagar</label>
                                        }
                                        else
                                        {
                                            <input class="form-check-input" type="checkbox" id="categoriaDelete" value="categoriaDelete" onclick="checkPermissoes(this.id)">
                                            <label class="form-check-label" for="categoriaDelete">Apagar</label>
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div class="box-accordion">
            <div class="box-accordion-titulo">
                Lançamento
            </div>
            <div class="box-accordion-dados">
                <!--Cadastro Lançamentos-->
                <div class="row">
                    <div class="row">
                        <div class="col-12 col-md-3">
                            <div class="form-check">
                                @{
                                    if (Model.permissoes.Contains("lancamentoList"))
                                    {
                                        <input class="form-check-input" type="checkbox" value="lancamentoList" id="lancamentoList" onclick="checkPermissoes(this.id)" checked="checked">
                                        <label class="form-check-label" for="lancamentoList">Lançamentos Contábeis</label>
                                    }
                                    else
                                    {
                                        <input class="form-check-input" type="checkbox" value="lancamentoList" id="lancamentoList" onclick="checkPermissoes(this.id)">
                                        <label class="form-check-label" for="lancamentoList">Lançamentos Contábeis</label>
                                    }
                                }

                            </div>
                        </div>
                    </div>
                    <div class="row" style="padding-left: 30px;">
                        <div class="col-md-4 col-12">
                            <div class="form-check form-check-inline" style="width: 20%;">
                                @{
                                    if (Model.permissoes.Contains("lancamentoCreate"))
                                    {
                                        <input class="form-check-input" type="checkbox" id="lancamentoCreate" value="lancamentoCreate" onclick="checkPermissoes(this.id)" checked="checked">
                                        <label class="form-check-label" for="lancamentoCreate">Incluir</label>
                                    }
                                    else
                                    {
                                        <input class="form-check-input" type="checkbox" id="lancamentoCreate" value="lancamentoCreate" onclick="checkPermissoes(this.id)">
                                        <label class="form-check-label" for="lancamentoCreate">Incluir</label>
                                    }
                                }
                            </div>
                        </div>
                        <div class="col-md-4 col-12">
                            <div class="form-check form-check-inline" style="width: 20%;">
                                @{
                                    if (Model.permissoes.Contains("lancamentoEdit"))
                                    {
                                        <input class="form-check-input" type="checkbox" id="lancamentoEdit" value="lancamentoEdit" onclick="checkPermissoes(this.id)" checked="checked">
                                        <label class="form-check-label" for="lancamentoEdit">Alterar</label>
                                    }
                                    else
                                    {
                                        <input class="form-check-input" type="checkbox" id="lancamentoEdit" value="lancamentoEdit" onclick="checkPermissoes(this.id)">
                                        <label class="form-check-label" for="lancamentoEdit">Alterar</label>
                                    }
                                }

                            </div>
                        </div>
                        <div class="col-md-4 col-12">
                            <div class="form-check form-check-inline" style="width: 20%;">
                                @{
                                    if (Model.permissoes.Contains("lancamentoDelete"))
                                    {
                                        <input class="form-check-input" type="checkbox" id="lancamentoDelete" value="lancamentoDelete" onclick="checkPermissoes(this.id)" checked="checked">
                                        <label class="form-check-label" for="lancamentoDelete">Apagar</label>
                                    }
                                    else
                                    {
                                        <input class="form-check-input" type="checkbox" id="lancamentoDelete" value="lancamentoDelete" onclick="checkPermissoes(this.id)">
                                        <label class="form-check-label" for="lancamentoDelete">Apagar</label>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>

    <button type="submit" class="btn btn-info">Gravar</button>
    <a class="btn btn-secondary" asp-controller="Usuario" asp-action="Index">Cancelar</a>    
</form>

<script>
    $(document).ready(function () {
        $('#Esconder').delay(3000).fadeOut();
    });
</script>


<script src="~/js/user.js"></script>

@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}