@model gestaoContadorcomvc.Models.ViewModel.Vm_operacao

@{
    ViewData["Title"] = "Operação";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Operação</h2>
<hr class="hrLine" />
<p>Em desenvolvimento</p>